.eltd-grid,
.eltd-container-inner,
.eltd-grid-section .eltd-section-inner,
.eltd-slider .carousel-inner .eltd-slider-content-outer {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait;
	}
}

.eltd-boxed .eltd-wrapper .eltd-wrapper-inner,
.eltd-boxed .eltd-wrapper .eltd-footer-inner {

	@include laptop-landscape {
		width: $grid-width-laptop-landscape-boxed;
	}

	@include ipad-landscape {
		width: $grid-width-ipad-landscape-boxed;
	}

	@include ipad-portrait {
		width: $grid-width-ipad-portrait-boxed;
	}

	@include phone-landscape {
		width: $grid-width-phone-landscape-boxed;
	}

	@include phone-portrait {
		width: $grid-width-phone-portrait-boxed;
	}

	@include smaller-phone-portrait {
		width: $grid-width-smaller-phone-portrait-boxed;
	}
}

@include ipad-landscape {
	.eltd-content {
		margin-top: 0px !important;
	}
}

@include ipad-landscape {
	.eltd-two-columns-50-50 .eltd-column,
	.eltd-two-columns-66-33 .eltd-column1,
	.eltd-two-columns-66-33 .eltd-column2,
	.eltd-two-columns-33-66 .eltd-column1,
	.eltd-two-columns-33-66 .eltd-column2,
	.eltd-two-columns-25-75 .eltd-column1,
	.eltd-two-columns-25-75 .eltd-column2,
	.eltd-two-columns-75-25 .eltd-column1,
	.eltd-two-columns-75-25 .eltd-column2,
	.eltd-three-columns .eltd-column,
	.eltd-four-columns .eltd-column {
		width: 100%;
	}

	.eltd-two-columns-66-33 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-66-33 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-33-66 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-75-25 .eltd-column2 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column1 .eltd-column-inner,
	.eltd-two-columns-25-75 .eltd-column2 .eltd-column-inner {
		padding: 0 0 0 0;
	}

}

@media only screen and (max-width: map-get($breakpoints, mac)) {
	.eltd-section.eltd-row-with-scroll-icon .eltd-row-scroll-icon {
		bottom: 30px;
	}
}

@include smaller-phone-portrait {
	.eltd-section-inner-margin {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@include phone-landscape {
	.eltd-section.eltd-row-with-scroll-icon {

		.eltd-row-scroll-icon {
			display: none;
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {
	aside.eltd-sidebar {
		margin-top: 50px;
	}
}

@include phone-portrait {
	.error404 .eltd-page-not-found {
		width: 100%;
	}
}