@import 'variables';
@import 'mixins';
@import 'blog/lists/blog-lists';
@import 'blog/single/blog-single';

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */

.eltd-blog-holder {

	article {

		.eltd-post-image-wrapper {

			.eltd-audio-player-holder {
				width: 100%;

				.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
					background-color: #444444;
				}

				.mejs-container .mejs-controls {
					height: 38px !important;
				}
			}

			&.eltd-post-with-image {

				.eltd-audio-player-holder {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}
	}

}

.eltd-self-hosted-video-holder .eltd-video-wrap .mejs-container,
.eltd-self-hosted-video-holder .eltd-video-wrap .mejs-overlay-play {
	height: 100% !important;
	/*!important because of the inline style*/
	width: 100% !important;
	/*!important because of the inline style*/
}

//.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
//	background-color: #303030;
//}

.mejs-container {
	height: 38px !important;
}

.mejs-container * {
	font-family: $default-font-family;
}

.mejs-container .mejs-controls {
	height: 38px;
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}

.mejs-container .mejs-controls div {
	height: 38px;
	text-align: center;
	line-height: 40px;
}

.mejs-controls .mejs-button button {
	background: none;
	font-family: 'ElegantIcons';
	color: #fff;
	margin: 0;
	height: 100%;
	position: static;
	width: auto;
	display: inline-block;
	-webkit-transition: color 0.15s ease-out;
	-moz-transition: color 0.15s ease-out;
	transition: color 0.15s ease-out;
}

.mejs-controls .mejs-button button:hover {
	color: #d6dbdd;
}

.mejs-controls .mejs-button button:focus {
	outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
	width: 46px;
}

.mejs-controls .mejs-play button {
	font-family: 'ElegantIcons';
	font-size: 18px;
	color: #fff;
}

.mejs-controls .mejs-play button:after {
	content: "\45";
}

.mejs-controls .mejs-pause button {
	font-family: 'ElegantIcons';
	font-size: 18px;
}

.mejs-controls .mejs-pause button:after {
	content: "\60";
}

.mejs-controls .mejs-mute button {
	font-family: 'ElegantIcons';
	font-size: 15px;
}

.mejs-controls .mejs-mute button:after {
	content: "\7a";
}

.mejs-controls .mejs-unmute button {
	font-family: 'ElegantIcons';
	font-size: 13px;
}

.mejs-controls .mejs-unmute button:after {
	content: "\78";
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
	width: 32px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
	font-size: 13px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button:after {
	content: "\30";
}

.mejs-container .mejs-controls .mejs-time {
	height: 39px;
	padding: 0;
	width: 35px;
	font-size: 12px;
	font-weight: 600;
}

.mejs-controls div.mejs-time-rail {
	padding-top: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	height: 6px;
	background-color: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	margin-top: 17px;
}

.mejs-controls .mejs-time-rail .mejs-time-current:after {
	content: '';
	height: 9px;
	width: 9px;
	background-color: #7d7d7d;
	position: absolute;
	bottom: 50%;
	right: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: translate(50%, 50%);
	-moz-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	margin-top: 6px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	height: 6px;
	background-color: #d6dbdd;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background-color: #7d7d7d;
	height: 6px;
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */
