@include phone-landscape {
	.eltd-blog-holder.eltd-blog-single .eltd-author-description .eltd-author-description-text-holder {
		padding-left: 0;
	}

	.eltd-blog-single-navigation .eltd-blog-single-prev.eltd-single-nav-with-image .eltd-single-nav-content-holder {
		padding-left: 0 !important;
		float: left !important;
	}

	.eltd-blog-single-navigation .eltd-blog-single-next.eltd-single-nav-with-image .eltd-single-nav-content-holder {
		padding-right: 0 !important;
		float: right !important;
	}

	.single {

		.eltd-blog-single-navigation {

			.eltd-blog-single-prev .eltd-single-nav-text {
				padding-left: 40px;
				text-align: right;
				padding-right: 43px;
			}

			.eltd-blog-single-next .eltd-single-nav-text {
				padding-right: 40px;
				padding-left: 44px;
				text-align: left;
			}

			.eltd-blog-single-prev,
			.eltd-blog-single-next {

				.eltd-single-nav-arrow {
					margin-top: 0px;
				}

				.eltd-single-nav-post-title {
					display: none;
				}

				.eltd-single-nav-post-sub {
					font-size: 15px;
					color: #808285;
				}

				img {
					vertical-align: middle;
				}
			}
		}
	}

	.single .eltd-blog-date-on-side article.format-link .eltd-post-info {
		margin-left: 0;
		float: left;
		margin-top: 50px;
	}

	.single .eltd-blog-date-on-side article.format-quote .eltd-post-info {
		margin-left: 0;
		float: left;
	}
	.single .eltd-blog-date-on-side .eltd-single-tag {
		width: 100%;
	}

	.single {

		.eltd-blog-holder {

			.format-quote {

				.eltd-post-quote-holder {
					padding: 65px 20px 70px;
				}
			}

			.format-link {

				.eltd-post-link-holder {
					padding: 65px 20px 70px;
				}
			}
		}
	}

}

@include phone-portrait {
	.eltd-blog-holder article.format-link h2.eltd-post-title,
	.eltd-blog-holder article.format-quote h2.eltd-post-title {
		padding: 40px 0px 38px;;
	}

	.single .eltd-author-description {
		padding: 40px 28px;
	}
}