@import 'types/date_on_side';

.single-post {

	.eltd-content {
		.eltd-content-inner > .eltd-container > .eltd-container-inner,
		.eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
			padding: 92px 0 100px;
		}
	}
}

.single {

	.eltd-blog-holder {

		article {
			margin-bottom: 48px;
		}

		.format-quote {

			.eltd-post-text {
				margin-top: 0;
			}

			.eltd-post-quote-holder {
				padding: 65px 65px 70px;
				background-color: #f9f9f9;
				margin-bottom: 34px;
			}

			.eltd-post-mark {
				margin: 0 auto 5px;
				color: inherit;
			}

			.eltd-post-title {
				margin: 0;
			}

			.eltd-post-quote-author-text {
				margin: 13px 0 0;

				.eltd-post-quote-author-name {
					font-style: normal;
					font-family: $headings-font-family;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #28262b;
				}

				.eltd-post-quote-position {

					&:before {
						content: "/ ";
						font-style: normal;
						font-family: $headings-font-family;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: #28262b;
					}
				}
			}

			.eltd-post-info {
				margin: 50px 0 0;

				&:after {
					bottom: initial;
					left: 50%;
					top: -40px;
					@include eltdTransform(translateX(-50%));
				}
			}

			.eltd-share-icons-single {
				float: none;
				display: block;
				text-align: center;
				margin: 11px auto 0;
			}
		}

		.format-link {

			.eltd-post-text {
				margin-top: 0;
			}

			.eltd-post-link-holder {
				padding: 65px 65px 70px;
				background-color: #f9f9f9;
				margin-bottom: 34px;
			}

			.eltd-post-mark {
				margin: 0 auto 5px;
				color: inherit;
			}

			.eltd-post-title {
				margin: 0;

				&:hover {
					color: inherit;
				}
			}

			.eltd-post-info {
				margin: 12px 0 0;

				&:after {
					content: none;
				}
			}

			.eltd-share-icons-single {
				float: none;
				display: block;
				text-align: center;
				margin: 50px auto 0;
				position: relative;

				&:before {
					content: '....................';
					position: absolute;
					top: -44px;
					left: 50%;
					font-weight: 300;
					font-size: 15px;
					color: $first-main-color;
					font-style: italic;
					font-family: $headings-font-family-2;
					@include eltdTransform(translateX(-50%));
				}
			}
		}
	}

	.eltd-author-description {
		background-color: #363636;
		padding: 40px 80px;
		margin-bottom: 40px;

		.eltd-author-social-holder {

			margin-top: 3px;

			a {
				color: inherit;

				&:hover {
					color: $first-main-color;
				}
			}

			.eltd-author-social-icon {
				margin: 0 8px;
				font-size: 11px;
				text-align: center;
			}
		}

		.eltd-author-description-image {
			width: 78px;
			margin: 0 auto;
			overflow: hidden;
			@include eltdBorderRadius(50%);

			img {
				vertical-align: middle;
			}
		}

		.eltd-author-description-text-holder {
			position: relative;
			text-align: center;
			margin-top: 25px;

			.eltd-post-author-name-position {
				margin-bottom: 0;
				margin-top: 20px;
			}

			.eltd-author-email {
				margin: 0;
			}

			.eltd-author-text h5 {
				margin: 0;
			}

			.eltd-post-author-name {
				font-style: normal;
				font-family: $headings-font-family;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #fff;
			}

			.eltd-post-author-position {

				&:before {
					content: "/ ";
					font-style: normal;
					font-family: $headings-font-family;
					letter-spacing: 0.1em;
					text-transform: uppercase;
				}
			}
		}
	}

	.eltd-single-tags-holder {
		width: 60%;
		float: left;
		box-sizing: border-box;
		padding-right: 20px;

		.eltd-single-tags-title {
			display: inline-block;
			margin-right: 5px;
		}
		.eltd-tags {
			display: inline-block;

			a {
				font-size: 12px;
				display: inline-block;
				font-family: $headings-font-family;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.05em;
				color: #363636;
				padding: 4px 26px;
				margin-right: 3px;
				margin-bottom: 5px;
				border: 1px solid #e1e1e1;
				@include eltdTransition(background-color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out);

				&:hover {
					background-color: $first-main-color;
					border: 1px solid $first-main-color;
					color: #fff;
				}
			}
		}
	}

	.eltd-blog-single-navigation {
		position: relative;
		padding: 10px 0;

		.eltd-single-nav-content-holder {
			padding: 30px 0;
		}

		.eltd-blog-single-navigation-inner {
			position: relative;

			.eltd-single-nav-separator {
				position: absolute;
				top: 0;
				height: 100%;
				width: 2px;
				left: 50%;
				margin-left: -1px;
				background-color: #e5e5e5;
			}
		}

		.eltd-blog-single-prev,
		.eltd-blog-single-next {
			font-size: 13px;
			width: 50%;
			text-align: center;

			.eltd-single-nav-text {
				position: relative;

				a {
					color: inherit;
				}
			}

			.eltd-single-nav-arrow {
				position: absolute;
				top: 50%;
				margin-top: -4px;
				font-size: 30px;
				@include eltdTransform(translateY(-50%));
				@include eltdTransition(all 0.2s ease-out);

				&:hover {
					@include eltdTransform(translateY(-50%) scale(1.1, 0.8));
				}
			}

			.eltd-single-nav-post-title {
				color: #414042;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				margin: 0;
				line-height: 1em;
			}

			.eltd-single-nav-post-sub {
				font-family: $headings-font-family-2;
				font-style: italic;
				margin: 0;
				line-height: 1em;
			}

			img {
				vertical-align: middle;
			}
		}

		.eltd-blog-single-prev .eltd-single-nav-image-holder {
			float: left;
			width: 109px;
		}

		.eltd-blog-single-next .eltd-single-nav-image-holder {
			float: right;
			width: 109px;
		}

		.eltd-blog-single-prev.eltd-single-nav-with-image .eltd-single-nav-content-holder {
			padding-left: 122px;
		}

		.eltd-blog-single-next.eltd-single-nav-with-image .eltd-single-nav-content-holder {
			padding-right: 122px;
		}

		.eltd-blog-single-prev {
			float: left;

			.eltd-single-nav-text {
				float: left;
				padding-left: 65px;
				padding-right: 65px;
			}

			.eltd-single-nav-arrow {
				left: 0;
			}
		}

		.eltd-blog-single-next {
			float: right;

			.eltd-single-nav-text {
				float: right;
				padding-right: 65px;
				padding-left: 65px;
			}

			.eltd-single-nav-arrow {
				right: 0;
			}
		}
	}
}

.eltd-related-posts-holder {
	margin-bottom: 35px;
	padding-bottom: 35px;

	.eltd-related-posts-title {
		margin-bottom: 20px;
	}

	.eltd-related-post {
		width: 24.8125%;

		margin-right: 0.25%;
		display: inline-block;
		float: left;

		&:nth-child(4n) {
			margin-right: 0;
		}

		img {
			display: block;
		}

		.eltd-related-post-image {
			margin-bottom: 16px;
		}

		.eltd-related-post-title,
		.eltd-related-post-info {
			margin-bottom: 6px;
		}

		.eltd-related-post-info {
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
		}

	}

}

//Related posts with sidebar
.eltd-column1 .eltd-related-posts-holder,
.eltd-column2 .eltd-related-posts-holder {

	.eltd-related-post {
		width: 33.16%;
		margin-right: 0.25%;

		&:nth-child(3n) {
			margin-right: 0;
		}

	}

}

.eltd-content .eltd-share-icons ul {
	margin: 0;
}

.eltd-post-content {

	.eltd-image-name {
		float: left;
		width: 50%;
	}

	.eltd-share-icons {
		float: right;
		width: 50%;
		text-align: right;
	}

	.eltd-social-share-holder.eltd-list {
		display: inline-block;
	}

	.eltd-author-image {
		height: 100%;
		display: inline-block;
		float: left;
		margin-right: 13px;

		img {
			width: 28px;
			@include eltdBorderRadius(50%);
		}
	}

	.eltd-author-name-holder {
		position: relative;
		float: left;
	}

	.eltd-author-desc {
		width: 100%;
		display: inline-block;
		position: relative;
		padding-top: 12px;

		@include eltdBoxSizing(border-box);
	}

	.eltd-image-name {
		float: left;
		width: 50%;
	}

	h5.eltd-author-name {
		margin: 7px;
		font-size: 14px;
		font-weight: 600;
		color: #545454;
	}

	.eltd-blockquote-shortcode {
		margin: 47px auto 42px;
	}

}

article.post {

	.eltd-tags-share-holder {
		position: relative;
		margin-top: 27px;
		padding-top: 20px;
	}

	.eltd-category-holder {
		width: 50%;
		float: left;
	}

	.eltd-share-icons-single {
		width: 40%;
		float: left;
		text-align: left;
		box-sizing: border-box;
		line-height: 34px;
	}

	.eltd-single-tags-holder + .eltd-share-icons-single {
		text-align: right;
		padding-left: 20px;
	}
}

article {

	.eltd-category {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		font-family: $headings-font-family;

		a {
			margin-left: 10px;
		}

		span.icon_tags {
			color: $first-main-color;
		}
	}

	.eltd-post-image {
		margin-bottom: 0;
	}
}