.single .eltd-blog-date-on-side {
	.eltd-single-tag {
		float: left;
		width: 50%;
	}

	.eltd-single-tags-holder {
		margin: 0;

		.eltd-single-tags-title {
			margin-top: 0;
		}

	}
	.format-quote {
		.eltd-social-share-holder.eltd-list {
			display: inline-block;
		}

		.eltd-share-icons-single {
			text-align: left;
		}

		.eltd-quote-content {
			padding-bottom: 10px;
			border-bottom: 1px solid #f2f2f2;
			margin-bottom: 20px;
		}

		.eltd-post-content .eltd-post-text .eltd-post-info-date,
		.eltd-post-content .eltd-post-text .eltd-post-info a,
		.eltd-post-content .eltd-post-text .eltd-post-info-category.eltd-post-info-item {
			color: #545454;
		}

		.eltd-post-content .eltd-post-text .eltd-post-info-date {
			display: inline-block;
			padding-right: 20px;
		}

		.eltd-post-info > div {
			border-right: 1px solid $first-main-color;
			margin-right: 10px;
			line-height: 20px;

			&:last-child {
				border-right: 0;
			}

		}

		.eltd-post-info {
			margin-left: 106px;
		}
	}

	article {
		&.post .eltd-share-icons-single {
			text-align: left;
		}

		&.format-link {
			span.eltd-share-label {
				color: #bbb;
			}

			.eltd-social-share-holder.eltd-list {
				display: inline-block;
			}

			.eltd-social-share-holder.eltd-list li a {
				color: #545454;
			}

			.eltd-link-content {
				padding-bottom: 10px;
				border-bottom: 1px solid #f2f2f2;
				margin-bottom: 20px;
			}

			.eltd-post-info {
				margin-left: 106px;
			}

			.eltd-post-content .eltd-post-text .eltd-post-info-date,
			.eltd-post-content .eltd-post-text .eltd-post-info a,
			.eltd-post-content .eltd-post-text .eltd-post-info-category.eltd-post-info-item {
				color: #545454;
			}

			.eltd-post-content .eltd-post-text .eltd-post-info-date {
				display: inline-block;
				padding-right: 20px;
			}

			.eltd-post-info > div {
				border-right: 1px solid $first-main-color;
				margin-right: 10px;
				line-height: 20px;

				&:last-child {
					border-right: 0;
				}

			}
		}
	}
}

