@import 'types/fullscreen-search';
@import 'types/search-covers-header';
@import 'types/search-dropdown';
@import 'types/slide-from-header-bottom';
@import 'types/slide-from-window-top';

/* ==========================================================================
# Search style - begin
========================================================================== */

.eltd-search-opener {
	@include eltdTransition(all 0.15s ease-out);

	.eltd-search-icon-text {
		@include eltdTransition(all 0.15s ease-out);
	}
}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-search-opener,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-search-opener,
.eltd-top-bar-light .eltd-top-bar .eltd-search-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-search-opener,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-search-opener,
.eltd-top-bar-dark .eltd-top-bar .eltd-search-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color: #959595;
	margin-top: 10px;
}

.search .format-quote h2.eltd-post-title,
.search .format-link h2.eltd-post-title {
	color: #fff;
}

.search .format-quote h2.eltd-post-title a:hover,
.search .format-link h2.eltd-post-title a:hover {
	color: #fff;
}

/* ==========================================================================
# Search style - end
========================================================================== */
