$top-bar-height: 47px;

.eltd-top-bar {
	width: 100%;
	background-color: #f7f7f7;
	color: #3c3935;
	position: relative;
	font-weight: 700;
	height: $top-bar-height;
	font-size: 11px;
	z-index: 111;

	.eltd-grid {
		height: 100%;

		.eltd-vertical-align-containers {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.eltd-top-bar-widget-area,
	.eltd-top-bar-widget-area-inner {
		height: 100%;
	}

	.eltd-top-bar-widget {
		display: table;
		float: left;
		height: 100%;

		padding-right: 37px;

		&:last-child {
			padding-right: 0;
		}

		&.widget_text {
			position: relative;
		}

		&.widget_eltd_search_opener {
			padding-left: 13px;
			padding-right: 21px;

			a {
				color: #1b1b1b;
			}
		}

		#lang_sel {
			margin-right: -13px;
		}
	}

	.eltd-top-bar-widget-inner {
		display: table-cell;
		vertical-align: middle;
	}

	.eltd-logo-wrapper a {
		max-height: $top-bar-height;
	}

	#lang_sel > ul > li {
		margin: -100% 0;
		padding: 100% 0;
	}

	.eltd-vertical-align-containers .eltd-position-right {
		padding-top: 5px;

		@include eltdBoxSizing(border-box);
	}
}

.eltd-top-bar-light .eltd-top-bar {
	color: $header-light-color; //Beacause of inline color styles

	.eltd-shopping-cart-holder .eltd-header-cart .eltd-cart-icon {
		color: $header-light-color;
	}

	.eltd-shopping-cart-holder .eltd-cart-count {
		background-color: $header-light-color;
		color: #5a595c;
	}

	.widget {
		color: $header-light-color; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-light-color; //Beacause of inline color styles
		}

	}
}

.eltd-top-bar-dark .eltd-top-bar {
	color: $header-dark-color; //Beacause of inline color styles

	.eltd-shopping-cart-holder .eltd-cart-count {
		background-color: #363636;
	}

	.widget {
		color: $header-dark-color; //Beacause of inline color styles

		p,
		a,
		span,
		i,
		.widgettitle {
			color: $header-dark-color; //Beacause of inline color styles
		}

	}
}