.eltd-top-bar {
	@include ipad-landscape {
		background-color: #323232 !important;
		height: auto;
		display: none;

		.eltd-vertical-align-containers {
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;

			.eltd-position-left,
			.eltd-position-right {
				float: none;
				text-align: center;
				width: 100%;
			}

			.eltd-position-left {
				margin-bottom: 5px;
			}
		}
	}
}