.eltd-header-vertical {
	.eltd-vertical-dropdown-float {
		.menu-item .second {
			width: 100%;
			opacity: 1;
			background-color: transparent;

			@include eltdTransition(all 0.3s ease-in-out);

			* {
				@include eltdTransition(visibility 0.3s ease-in-out)
			}
		}

		.menu-item .second.eltd-float-open {
			margin-left: 0px;
			opacity: 1;
			visibility: visible;

			* {
				visibility: visible;
			}
		}

		.menu-item .second.vertical_menu_start ul li ul,
		.menu-item .second.vertical_menu_start ul li ul * {
			visibility: hidden;
		}

		.menu-item .second.vertical_menu_start ul li ul.eltd-float-open,
		.menu-item .second.vertical_menu_start ul li ul.eltd-float-open * {
			visibility: visible;
			opacity: 1;
		}

		.second .inner ul {
			width: 100%;
		}

		li.narrow .second .inner ul {
			/*because of the .narrow styling*/
			border: none;
			padding: 0;
			background-color: transparent;
		}

		.second .inner ul ul {
			position: absolute;
			border: none;
			top: 0;
			left: 100%;
			margin-left: 50px;
			padding: 10px;
			height: auto;
			visibility: hidden;
			width: 100%;
			opacity: 0;
			overflow: hidden;
			z-index: 10;
			background-color: #fff;
			padding: 0;
			transition: all 0.3s ease-in-out;

			@include eltdTransition(all 0.3s ease-in-out);
		}

		.second .inner ul ul.eltd-float-open {
			opacity: 1;
			margin-left: 0;
			visibility: visible;
		}

		.second .inner ul li a {
			display: block;
			height: auto;
			font-weight: 300;
			line-height: 18px;
			text-align: left;
			color: $default-text-color;
			margin: 0;
			padding: 8px;
			text-decoration: none;
			position: relative;
			text-align: center;

			@include eltdTransition(color 0.15s ease-out);

			&:hover {
				color: $first-main-color;
			}
		}

		ul li a .eltd_menu_arrow {
			display: none;
		}

		.second .inner > ul > li > a .menu_icon {
			@include eltdTransition(color 0.15s ease-out);
		}
	}
}