/* ==========================================================================
   Accordion shortcode start styles
   ========================================================================== */
.eltd-accordion-holder {
	position: relative;

	.eltd-accordion-content {
		margin: 0 0 20px;
		padding: 10px 5px;
	}

	.eltd-title-holder {
		cursor: pointer;
		position: relative;
		margin: 20px 0 0;
		line-height: 24px;
		padding: 18px 0 18px 55px;
		font-size: 13px;
		color: #414042;
		text-transform: uppercase;
		background-color: #fff;
		font-family: $headings-font-family;
		font-style: normal;
		letter-spacing: 1px;

		@include eltdBoxSizing(border-box);
		@include eltdTransform(translateZ(0px));
		@include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out, padding 0.15s ease-out);

		&:first-child {
			margin: 0;
		}

		.eltd-tab-title,
		.eltd-tab-title-inner {
			color: inherit;
			line-height: inherit;
		}

		.eltd-accordion-mark {
			position: absolute;
			top: 50%;
			left: 12px;
			display: block;
			width: 30px;
			height: 24px;
			text-align: center;
			line-height: 1em;
			font-size: 24px;

			@include eltdTransform(translateY(-50%));
			@include eltdBoxSizing(border-box);
			@include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);
		}

		.eltd-accordion-mark-icon {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			line-height: inherit;
			text-align: center;
			font-size: 18px;
		}

		.eltd-accordion-mark-icon span {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			line-height: inherit;

			@include eltdTransition(opacity 0.15s ease-out);
		}

		.eltd-accordion-mark-icon .eltd-acc-minus {
			opacity: 0;
		}

		.eltd-accordion-mark-icon .eltd-acc-plus {
			opacity: 1;
		}

	}
	.eltd-title-holder.ui-state-active,
	.eltd-title-holder.ui-state-hover {
		color: #fff;
		background-color: #252525;
		padding-left: 60px;

		.eltd-accordion-mark {
			color: #fff;
		}
	}

	.eltd-title-holder.ui-state-active {

		.eltd-accordion-mark-icon .eltd-acc-minus {
			opacity: 1;
		}

		.eltd-accordion-mark-icon .eltd-acc-plus {
			opacity: 0;
		}
	}
}

.eltd-accordion-holder.eltd-initial {

	.eltd-title-holder .eltd-tab-title {
		@include eltdTableLayout;
		box-sizing: border-box;
		text-align: left;

		span.eltd-icon-accordion-holder {
			font-size: 18px;
			margin-right: 17px;
			margin-left: 14px;
		}

		span.eltd-tab-title-inner {
			position: relative;
			@include eltdTableCellLayout;
			text-align: left;
		}

	}

}

.eltd-accordion-holder.eltd-boxed {

	border: 1px solid #252525;

	.eltd-title-holder {
		background-color: #fff;

		@include eltdTransition(background-color 0.15s ease-out, border-color 0.15s ease-out);

		span.eltd-icon-accordion-holder {
			margin-right: 6px;
			font-size: 18px;
		}

		.eltd-accordion-mark {
			border: 0;
			background-color: transparent;

			@include eltdTransition(color 0.15s ease-out);
		}
	}
	.eltd-title-holder.ui-state-active,
	.eltd-title-holder.ui-state-hover {
		color: #fff;
		background-color: #252525;

		.eltd-accordion-mark {
			color: #fff;
		}
	}
}