@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
 
	.eltd-accordion-holder:not(.eltd-boxed) div.eltd-accordion-content {
		padding: 10px;
	}

	.eltd-accordion-holder .eltd-title-holder .eltd-accordion-mark {
		right: 10px;
	}
}
