.eltd-blog-slider-holder {
	opacity: 0;

	@include eltdTransition(opacity 0.2s ease-out);

	.eltd-blog-slider-item {
		position: relative;

		.eltd-blog-like i {
			margin-right: 3px;
		}

		&:after {
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			@include eltdTransition(background 0.4s ease-out);
		}

		.eltd-bs-item-content {
			opacity:0;
			@include eltdTransition(opacity 0.4s ease-out);
		} 
		
		&.eltd-active {
			.eltd-bs-item-content {
				opacity:1;
			}
		}

		&.eltd-darken {
			position:relative;

			&:after {
				background:rgba(54, 54, 54, 0.5);
			}

		}
	}

	.eltd-bs-item-image-holder {
		position: relative;
		height: 0;
		padding-bottom: 46%;

		.eltd-bs-item-image {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: transparent center center no-repeat;
			background-size: cover;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}
		}
	}

	.eltd-bs-item-content {
		position: absolute;
		width: 45%;

		top: 50%;
		left: 50%;

		background: #fff;
		text-align: center;
		padding: 57px 65px 72px;
		z-index: 2;

		@include eltdBoxSizing(border-box);
		@include eltdTransform(translate(-50%, -50%));
	}

	.eltd-bs-item-date {
		color: $first-main-color;

		font-family: $headings-font-family;
		font-size: 16px;
		font-weight: 700;

		margin-bottom: 8px;
	}

	.eltd-bs-item-title {
		margin-top: 0;
	}

	h2.eltd-bs-item-title {
		margin-bottom: 0;
		text-transform: uppercase;
		line-height: 36px;
	}

	.eltd-bs-item-excerpt {
		position: relative;
		margin-top: 50px;
		margin-bottom: 0;

		&:before {
			content: '....................';
			position: absolute;
			top: -40px;
			left: 50%;
			color: $first-main-color;
			font-weight: 300;
			font-style: italic;
			font-family: $headings-font-family-2;

			@include eltdTransform(translateX(-50%));
		}
	}

	.eltd-bs-item-button {
		margin-top: 26px;

		&.small {
			margin-top: 5px;
			display: none;
		}
	}

	.eltd-bs-item-bottom-section {
		text-align: left;
		border-top: 1px dashed #e5e5e5;
		font-family: $headings-font-family;

		padding: 17px 0;

		@include eltdClearfix;

		.eltd-bs-item-author {
			float: left;

			img {
				vertical-align: middle;
				border: 1px solid #e5e5e5;
				margin-right: 10px;
				vertical-align: middle;

				color: #303030;
				font-size: 14px;
			}

			a {
				color: inherit;
				font-weight: 700;

				&:hover {
					color: $first-main-color;
				}
			}
		}

		.eltd-bs-item-categories {
			float: right;

			font-size: 16px;
			color: #adadad;
			font-weight: 700;

			a {
				color: inherit;

				&:hover {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-post-info {
		margin-top: 13px;
		position: relative;
		font-family: $headings-font-family-2;
		font-style: italic;
		font-size: 13px;

		.icon_heart {
			margin-right: 3px;
		}

		span.icon_tags {
			margin-right: 10px;
			font-size: 14px;
		}

		> div {
			display: inline-block;
			position: relative;

			&:not(:last-child):after {
				content: '/';
				margin-left: 4px;
				margin-right: 7px;
			}
		}

		a {
			color: inherit;
		}

		&.small {
			display: none;
			margin-top: 12px;
		}
	}

	.slick-list {
		overflow: visible;
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		cursor: pointer;
		z-index: 1;
		font-size: 50px;
		color: #fff;

		&.eltd-prev-icon {
			left: -140px;
			transform: translate(-50%, -50%);
			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(translateX(-50%) translateY(-50%) scale(1.1, 0.8));
			}
		}

		&.eltd-next-icon {
			right: -140px;
			transform: translate(50%, -50%);
			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(translateX(50%) translateY(-50%) scale(1.1, 0.8));
			}
		}
	}

	ul.slick-dots {
		position: absolute;
		margin: 0;
		bottom: 35px;
		width: 100%;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	.slick-dots li {

		position: relative;
		width: 20px;
		display: inline-block;
		height: 20px;
		padding: 0;
		cursor: pointer;
		margin: 0px 1px;

		button {
			position:relative;
			font-size: 0;
			line-height: 0;
			display: block;
			margin-top: -10px;
			width: 6px;
			height: 6px;
			padding: 4px;
			cursor: pointer;
			color: transparent;
			border: 1px solid #363636;
    		overflow: hidden;
			outline: none;
			background: transparent;
			@include eltdBorderRadius(100%);

			&:before {
				font-family: 'slick';
				line-height: 12px;
				position: absolute;
				top: 11px;
				left: 0;
				width: 8px;
				height: 8px;
				content: '';
				display: block;
				text-align: center;
				color: #000;
				background-color: #363636 !important;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				@include eltdTransition(all 0.15s ease-out);
				@include eltdBorderRadius(50%);
			}
		}

		&.slick-active button:before {
			opacity: 1;
			top: 0;
		}

	}

	.eltd-bs-item-button.small a {
		background-color: #ff7348;
		border: 2px solid #ff7348;
		color: #fff;
	}

	.eltd-bs-item-button.small:hover a {
		border-color: #383838;
		background-color: #383838;
		color: #fff !important;
	}
}