.eltd-btn {
    display: inline-block;
    position: relative;
    outline: none;
    padding: 12px 45px;

	font-style: normal;
	font-weight: 700;
	font-family: $headings-font-family;
	font-size: 12px;
	line-height: 1.7em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;

	cursor: pointer;

    @include eltdTransition(color 0.4s ease-out, background-color 0.4s ease-out, border-color 0.4s ease-out);
    @include eltdBoxSizing(border-box);

	.eltd-btn-icon-holder {
		.eltd-btn-icon-elem {
			vertical-align: middle;
			font-size: 1.5em;
			position: relative;
			top: -0.1em;
		}
	}

	.eltd-btn-icon-holder,
	.eltd-btn-text {
		position: relative;
		z-index: 2;
	}

	&.eltd-btn-icon .eltd-btn-text {
		margin-right: 15px;
	}

	.eltd-btn-helper {
		position: absolute;
		z-index: 1;

		@include eltdTransition(all 0.4s ease-out);
	}

	/* #Button types styles - start
	   ========================================================================== */
    &.eltd-btn-solid {
        background-color: $first-main-color;
        border: 2px solid $first-main-color;
        color: #fff;
    }

    &.eltd-btn-outline {
        border: 2px solid $first-main-color;
        color: $first-main-color;
        background-color: transparent;
    }

	&.eltd-btn-white {
		border: 2px solid #fff;
		background-color: #fff;
	}

	&.eltd-btn-white-outline {
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
	}

	&.eltd-btn-black {
		border: 2px solid #363636;
		color: #fff;
		background-color: #363636;
	}

	&.eltd-btn-transparent {
		background-color: transparent;
		color: $first-main-color;
		@include eltdTransform(translateZ(0));
		
		.eltd-btn-text {
			@include eltdTransition(opacity .45s ease-out);
		}

		&:hover {
			.eltd-btn-text {
				opacity: .9;
			}
		}
	}
	/* #Button types styles - end
	   ========================================================================== */

	/* #Button hover types styles - start
    ========================================================================== */
	&.eltd-btn-hover-outline {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.eltd-btn-custom-hover-bg):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #383838 !important;
		}

		&:not(.eltd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #383838 !important;
		}
	}

	&.eltd-btn-hover-solid {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.eltd-btn-custom-hover-bg):not(.eltd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: $first-main-color !important;
		}

		.eltd-btn-helper {
			background-color: $first-main-color;
		}

		&:not(.eltd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: $first-main-color !important;
		}
	}

	&.eltd-btn-hover-white {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: $first-main-color !important;
		}

		&:not(.eltd-btn-custom-hover-bg):not(.eltd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #fff !important;
		}

		.eltd-btn-helper {
			background-color: #fff;
		}

		&:not(.eltd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.eltd-btn-hover-white-outline {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.eltd-btn-custom-hover-bg):not(.eltd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: transparent !important;
		}

		&:not(.eltd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #fff !important;
		}
	}

	&.eltd-btn-hover-black {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #fff !important;
		}

		&:not(.eltd-btn-custom-hover-bg):not(.eltd-btn-with-animation):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			background-color: #303030 !important;
		}

		.eltd-btn-helper {
			background-color: #303030;
		}

		&:not(.eltd-btn-custom-border-hover):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			border-color: #303030 !important;
		}
	}

	&.eltd-btn-hover-transparent {
		&:not(.eltd-btn-custom-hover-color):hover {
			//important because of inline color attribute. :not is used so we don't have to use important in JS
			color: #363636 !important;
		}
	}

	/* #Button hover types styles - end
	========================================================================== */


	/* #Button sizes styles - start
	   ========================================================================== */
    &.eltd-btn-small {
        font-size: 10px;
        padding: 9px 30px;
		min-width: 95px;

		font-weight: 600;

		&.eltd-btn-icon .eltd-btn-text {
			margin-right: 2px;
		}
    }

    &.eltd-btn-medium {
        //same as default
		min-width: 202px;
    }

    &.eltd-btn-large {
        font-size: 16px;
        padding: 14.5px 50px;
		min-width: 222px;
    }

	&.eltd-btn-huge {
		min-width: 242px;
	}

    &.eltd-btn-huge,
    &.eltd-btn-huge-full-width {
        font-size: 18px;
        padding: 18px 60px;
    }

    &.eltd-btn-huge-full-width {
        display: block;
        text-align: center;
    }
	/* #Button sizes styles - end
	   ========================================================================== */


	/* #Hover animations - start
	   ========================================================================== */
	&.eltd-btn-fill-from-top {
		.eltd-btn-helper {
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
		}

		&:hover .eltd-btn-helper {
			height: 100%;
		}
	}

	&.eltd-btn-fill-from-left {
		.eltd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover .eltd-btn-helper {
			width: 100%;
		}
	}

	&.eltd-btn-fill-from-right {
		.eltd-btn-helper {
			width: 0;
			height: 100%;
			top: 0;
			right: 0;
		}

		&:hover .eltd-btn-helper {
			width: 100%;
		}
	}

	/* #Hover animations - end
	   ========================================================================== */
}

.woocommerce .button,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit {
	@extend .eltd-btn;
	@extend .eltd-btn-solid;
	@extend .eltd-btn-medium;
	@extend .eltd-btn-hover-outline;
}

