@media only screen and (max-width: 768px) and (min-width: 500px){
	.owl-item:nth-child(3n) .eltd-carousel-item-outer-holder {
		border-right: 0 !important;
	}
}

@media only screen and (max-width: 668px) and (min-width: 500px) {
	.owl-item:nth-child(2n) .eltd-carousel-item-outer-holder {
		border-right: 0 !important;
	}
}

@media only screen and (max-width: 499px) {
	.owl-item:nth-child(n) .eltd-carousel-item-outer-holder {
		border-right: 0 !important;
	}
}