$client-spacing: 31px;
$border-width: 1px;

.eltd-clients {

	.eltd-clients-inner {
		margin: -$client-spacing;
		position: relative;
	}

	.eltd-client {
		float: left;
		padding: $client-spacing;
		@include eltdBoxSizing(border-box);

		.eltd-client-inner {
			position: relative;
			text-align: center;
		}

		.eltd-cl-ver-helper,
		.eltd-cl-hor-helper {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		.eltd-cl-ver-helper {
			padding: $client-spacing - $border-width 0;
			border-top: $border-width solid #e5e5e5;
			margin-top: -$client-spacing;
		}

		.eltd-cl-hor-helper {
			padding: 0 $client-spacing - $border-width;
			border-left: $border-width solid #e5e5e5;
			margin-left: -$client-spacing;
		}

		.eltd-cl-image {
			position: relative;
			display: inline-block;

			@include eltdBoxSizing(border-box);

			img {
				vertical-align: middle;
				@include eltdTransform(translateZ(0)); // To prevent flickering
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			img.eltd-cl-img {
				opacity: 1;

				@include eltdTransition(all 0.2s ease-out);
			}

			&:hover img.eltd-cl-img {
				opacity: 0;
			}

			img.eltd-cl-hover-img {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;

				@include eltdTransition(all 0.2s ease-out);
			}

			&:hover img.eltd-cl-hover-img {
				opacity: 1;
			}
		}
	}

	&.eltd-clients-animation-flip {

		.eltd-client .eltd-cl-image {

			overflow:hidden;

			img.eltd-cl-img,
			img.eltd-cl-hover-img { 
				@include eltdTransition(all 0.4s ease-out);
				opacity:1;
			}

			img.eltd-cl-hover-img {
				@include eltdTransform(translate3d(0,-100%,0));
			}

			&:hover {

				img.eltd-cl-img,
				img.eltd-cl-hover-img { 
					@include eltdTransition(all 0.4s ease-out);
					opacity:1;
				}

				img.eltd-cl-img { 
					@include eltdTransform(translate3d(0,100%,0));
				}

				img.eltd-cl-hover-img {
					@include eltdTransform(translate3d(0,0,0));
				}

			}

		}

	}

}