@media only screen and (min-width: map-get($breakpoints, ipad-landscape-plus-pixel)) { // all items

	.eltd-clients {

		&.eltd-clients-two-columns {

			.eltd-client {
				width: 50%;

				&:nth-child(1),
				&:nth-child(2) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(2n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}

		&.eltd-clients-three-columns {

			.eltd-client {
				width: 33.33%;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(3n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}

		&.eltd-clients-four-columns {

			.eltd-client {
				width: 25%;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(4n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: map-get($breakpoints, ipad-portrait-plus-pixel)) and (max-width: map-get($breakpoints, ipad-landscape)) { // three items

	.eltd-clients {

		&.eltd-clients-two-columns {

			.eltd-client {
				width: 50%;

				&:nth-child(1),
				&:nth-child(2) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(2n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}

		&.eltd-clients-three-columns,
		&.eltd-clients-four-columns {

			.eltd-client {
				width: 33.33%;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(3n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: map-get($breakpoints, phone-portrait-plus-pixel)) and (max-width: map-get($breakpoints, ipad-portrait)) { // two items

	.eltd-clients {

		&.eltd-clients-two-columns,
		&.eltd-clients-three-columns,
		&.eltd-clients-four-columns {

			.eltd-client {
				width: 50%;

				&:nth-child(1),
				&:nth-child(2) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}

				&:nth-child(2n+1) {

					.eltd-cl-hor-helper {
						border-left: none;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-portrait)) { // one item

	.eltd-clients {

		&.eltd-clients-two-columns,
		&.eltd-clients-three-columns,
		&.eltd-clients-four-columns {

			.eltd-client {
				width: 100%;

				.eltd-cl-hor-helper {
					border-left: none;
				}

				&:nth-child(1) {

					.eltd-cl-ver-helper {
						border-top: none;
					}
				}
			}
		}
	}
}