.eltd-comparision-pricing-tables-holder {
	$border-color: #f2f2f2;

	font-family: $headings-font-family;
	font-size: 18px;
	color: #545454;
	font-weight: 700;

	@include eltdClearfix;

	ul {
		list-style-type: none;
		margin: 0;
	}

	h4, p {
		margin: 0;
	}

	* {
		@include eltdBoxSizing(border-box);
	}

	.eltd-cpt-table {
		float: left;
	}

	.eltd-cpt-table-item-feature {
		display: none;
	}

	&.eltd-two-columns {
		.eltd-cpt-table {
			width: 33.33%;
		}
	}

	&.eltd-three-columns {
		.eltd-cpt-table {
			width: 25%;
		}
	}

	&.eltd-four-columns {
		.eltd-cpt-table {
			width: 20%;
		}
	}

	.eltd-cpt-features-holder {
		.eltd-cpt-features-title.eltd-cpt-table-head-holder {
			padding-left: 38px;

			h4 {
				font-weight: 400;
			}
		}

		.eltd-cpt-table-content {
			li {
				padding: 10px 10px 10px 38px;

				&:last-child {
					border-bottom: none;
				}

				span {
					display: block;
					position: relative;
					top: 50%;

					@include eltdTransform(translateY(-50%));
				}
			}
		}
	}

	.eltd-cpt-table {
		border: 1px solid $border-color;
		border-right: none;
		border-left: none;

		&:not(.eltd-cpt-features-holder) {
			text-align: center;

			.eltd-cpt-table-head-holder,
			.eltd-cpt-table-content {
				border-left: none;
			}

			li {
				line-height: 83px;
			}
		}

		.eltd-cpt-table-head-holder,
		.eltd-cpt-table-content {
			border-left: 1px solid $border-color;
			border-right: 1px solid $border-color;
		}

		.eltd-cpt-table-border-top {
			width: 100%;
			height: 17px;
		}

		.eltd-cpt-table-head-holder {
			display: table;

			height: 137px;
			width: 100%;
			padding: 10px;
			border-bottom: 1px solid $border-color;

			.eltd-cpt-table-head-holder-inner {
				display: table-cell;
				vertical-align: middle;
			}

			.eltd-cpt-table-title {
				margin-bottom: 15px;
			}

			.eltd-cpt-table-price {
				font-size: 22px;
			}

			.eltd-cpt-table-currency {
				font-size: 22px;
			}

			.eltd-cpt-table-period {
				font-size: 14px;
				color: #868686;
			}
		}

		.eltd-cpt-table-content {
			li {
				height: 85px;
				border-bottom: 1px solid $border-color;

				&:nth-child(odd) {
					background-color: #f8f8f8;
				}

				&:nth-child(even) {
					background-color: #fff;
				}
			}
		}

		.eltd-cpt-table-btn {
			a {
				display: block;
				height: 95px;
				background-color: $first-main-color;

				color: #fff;
				font-size: 22px;
				font-family: $headings-font-family;
				text-transform: uppercase;

				span {
					display: block;
					position: relative;
					top: 50%;

					@include eltdTransform(translateY(-50%));
				}
			}
		}
	}
}