/* ==========================================================================
# Counter style - begin
========================================================================== */

.eltd-counter-holder {
	display: block;
	opacity: 0;
	@include eltdTransition(opacity 0.3s ease-in);

	&.eltd-counter-light {

		.eltd-counter-icon,
		.eltd-counter,
		.eltd-counter-title,
		.eltd-counter-text {
			color: #fff;
		}

	}

	.eltd-counter {
		font-size: 48px;
		line-height: 1em;
		font-weight: 300;
		overflow: hidden;
		color: #414042;
		font-family: $headings-font-family;
		display: inline-block !important;
		height: 1em;
	}

	h4.eltd-counter-title {
		margin: 5px 0;
		font-size: 15px;
		font-weight: 300;
		color: #28262b;
		text-transform: uppercase;
	}

	.eltd-counter-text {
		margin: 5px 0 0 0;
	}

	.eltd-counter-icon {
		font-size: 36px;
		margin-bottom: 23px;
		color: #58595b;
	}

}

.eltd-counter-holder-show {
	opacity: 1;
}

.eltd-counter-holder.left {
	text-align: left;
}

.eltd-counter-holder.right {
	text-align: right;
}

.eltd-counter-holder.center {
	text-align: center;
	margin-bottom: 50px;
}

/* ==========================================================================
# Counter style - end
========================================================================== */