/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */

.countdown-amount {

	@include ipad-landscape {
		font-size: 50px !important;
		line-height: 50px !important;
	}

	@include phone-landscape {
		font-size: 35px !important;
		line-height: 35px !important;
		margin-bottom: 10px;
	}

}

.countdown-period {

	@include ipad-landscape {
		font-size: 15px !important;
		margin-top: 36px;

		&:before {
			content: '..........';
			top: -34px;
		}
	}

	@include phone-landscape {
		font-size: 10px !important;
		margin-top: 16px;

		&:before {
			content: '.......';
			top: -20px;
			font-size: 12px;
		}
	}

}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */