/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */

$responsive-stages: (1440, 1280, 1024, 768, 600, 480);

.eltd-elements-holder {
	@each $stage in $responsive-stages {
		&.eltd-responsive-mode-#{$stage}.eltd-two-columns,
		&.eltd-responsive-mode-#{$stage}.eltd-three-columns,
		&.eltd-responsive-mode-#{$stage}.eltd-four-columns,
		&.eltd-responsive-mode-#{$stage}.eltd-five-columns,
		&.eltd-responsive-mode-#{$stage}.eltd-six-columns {

			.eltd-elements-holder-item {
				@media only screen and (max-width: #{$stage}px) {
					width: 100%;
					display: inline-block;
					height: auto;
				}
			}
		}
	}
	.eltd-elements-holder-item-content {
		@media only screen and (max-width: 480px) {
			padding: 0 10px;
		}
	}

}

@each $stage in $responsive-stages {
	@media only screen and (max-width: #{$stage}px) {
		.eltd-elements-holder.eltd-responsive-mode-#{$stage}.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
			text-align: left;
		}
		.eltd-elements-holder.eltd-responsive-mode-#{$stage}.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
			text-align: right;
		}
		.eltd-elements-holder.eltd-responsive-mode-#{$stage}.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
			text-align: center;
		}
	}
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */