.eltd-hiding-images {

	.eltd-hi-inner {
		text-align: center;
	}

	.eltd-hi-main-image {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 42.7%;

		.eltd-hi-laptop {
			display: block;
			position: relative;
		}

		.eltd-hi-main-image-holder {
            position: absolute;
            height: 74%;
            left: 14.8%;
            top: 4.5%;
            width: 70%;
            background: center center no-repeat;
            background-size: cover;
		}
	}

	.eltd-hi-other-images {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	a.eltd-hiding-image-link {
		position: absolute;
		top: 4.5%;
		left: 15.1%;
		width: 69.42%;
		height: 73.93%;
		z-index: 2;
	}

	.eltd-hi-other-image {
		position: absolute;
		opacity: 0;
		@include eltdTransform(translate3d(-50%, -50%, 0));
		@include eltdTransition(-webkit-transform 1s cubic-bezier(0, 0, 0, 1), transform 1s cubic-bezier(0, 0, 0, 1));

		img {
			display: block;
			width: 100%;
		}

		&:nth-child(1) {
			left: 5.0%;
			top: 29.1%;
			width: 17.8%;
		}

		&:nth-child(2) {
			left: 17.8%;
			top: 30.1%;
			width: 4.4%;
		}

		&:nth-child(3) {
			left: 30.9%;
			top: 26.8%;
			width: 17.8%;
		}

		&:nth-child(4) {
			left: 73.6%;
			top: 26.8%;
			width: 17.8%;
		}

		&:nth-child(5) {
			left: 92.7%;
			top: 28.9%;
			width: 17.8%;
		}

		&:nth-child(6) {
			left: 3.9%;
			top: 71.3%;
			width: 5.3%;
		}

		&:nth-child(7) {
			left: 16.3%;
			top: 70.9%;
			width: 17.8%;
		}

		&:nth-child(8) {
			left: 29.2%;
			top: 67.0%;
			width: 6.3%;
		}

		&:nth-child(9) {
			left: 69.2%;
			top: 62.1%;
			width: 4.0%;
		}

		&:nth-child(10) {
			left: 70.3%;
			top: 74.8%;
			width: 2.8%;
		}

		&:nth-child(11) {
			left: 82.5%;
			top: 71.7%;
			width: 17.8%;
		}

		&:nth-child(12) {
			left: 94.9%;
			top: 69.1%;
			width: 5.1%;
		}
	}
}