.eltd-hover-banner {
	text-align: center;

	.eltd-hb-inner {
		display: inline-block;
		vertical-align: middle;
		position: relative;

		> img {
			display: block;
		}

		.eltd-hb-overlay,
		.eltd-hb-overlay-pane,
		.eltd-hb-link {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.eltd-hb-overlay {
			opacity: 0;
			@include eltdTransition(opacity .3s ease-out);

			&:hover {
				opacity: 1;
			}

			.eltd-hb-overlay-pane {
				background-color: #fff;
			}

			.eltd-hb-overlay-text {
				position: absolute;
				text-align: center;
				left: 0;
				width: 100%;
				top: 50%;
				@include eltdTransform(translateY(-50%));

				& > * {
					font-weight: 300;
					letter-spacing: 0;
				}
			}
		}
	}
}