.eltd-icon-shortcode {
	$transition-duration: 0.15s;
	display: inline-block;

	&.circle,
	&.square {
		background-color: $first-main-color;
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		margin-right: 9px;

		@include eltdTransition(
				background-color $transition-duration ease-in-out,
				border-color $transition-duration ease-in-out
		);

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
		}

		.eltd-icon-element {
			color: #fff;
			line-height: inherit;
			width: 100%;
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&.circle {
		@include eltdBorderRadius(50%);
	}

	.eltd-icon-element {
		@include eltdTransition(color $transition-duration ease-in-out);
	}
}

.eltd-icon-animation-holder {
	@include eltdTransform(scale(0));
	@include eltdTransition(transform 0.15s ease-in-out);
	display: inline-block;

	&.eltd-icon-animation-show {
		@include eltdTransform(scale(1));
	}
}

.eltd-icon-tiny {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%;
}

.eltd-icon-small {
	font-size: 2em;
}

.eltd-icon-medium {
	font-size: 3em;
}

.eltd-icon-large {
	font-size: 4em;;
}

.eltd-icon-huge {
	font-size: 5em;
}