/* ==========================================================================
# Icon List Item style - begin
========================================================================== */
.eltd-icon-list-item {
	width: 100%;
	position: relative;
	margin-bottom: 13px;

	.eltd-icon-list-icon-holder {
		display: table-cell;
		vertical-align: middle;
		min-width: 13px;
	}

	.eltd-icon-list-icon-holder-inner i,
	.eltd-icon-list-icon-holder-inner .font_elegant {
		display: block;
		color: $first-main-color;
		font-size: 14px;
		text-align: center;
	}

	.eltd-icon-list-text {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		padding-left: 10px;
		font-size: 14px;
		color: #999;
		font-weight: 500;
	}

	&.eltd-icon-list-item-headings-font-family .eltd-icon-list-text {
		font-family: $headings-font-family;
	}

	.eltd-top-bar & {
		display: block;
		height: auto;
		margin-bottom: 0;

		.eltd-icon-list-text {
			padding-left: 13px;
			font-size: 12px;
			color: #cacaca;
			font-weight: 600;
		}

		.eltd-icon-list-icon-holder-inner i,
		.eltd-icon-list-icon-holder-inner .font_elegant {
			color: #cacaca;

			.eltd-top-bar-light & {
				color: $header-light-color;
			}

			.eltd-top-bar-dark & {
				color: $header-dark-color;
			}
		}
	}
}

/* ==========================================================================
# Icon List Item style - end
========================================================================== */

