@include large-laptop {
	.eltd-info-box-holder {
		padding: 70px 0;
	}
}

@include mac {
	.eltd-info-box-holder {
		.eltd-elements-holder.eltd-six-columns & {
			display: inline-block;
			height: auto;
			width: 33%;
		}

		padding: 40px 0;

		.eltd-ib-front-holder {
			.eltd-ib-bottom-holder {
				.eltd-ib-text-holder {
					font-size: 16px;
				}
			}

			.eltd-ib-title {
				margin-bottom: 10px;
			}

			.eltd-ib-icon-holder {
				margin-bottom: 10px;
			}

			.eltd-ib-button-holder {
				margin-top: 23px;
			}
		}

	}
}

@include ipad-landscape {
	.eltd-info-box-holder {
		.eltd-elements-holder.eltd-four-columns & {
			width: 50%;
			display: inline-block;
			height: auto;
		}
	}
}

@include ipad-portrait {
	.eltd-info-box-holder {
		.eltd-elements-holder.eltd-two-columns &,
		.eltd-elements-holder.eltd-three-columns &,
		.eltd-elements-holder.eltd-four-columns &,
		.eltd-elements-holder.eltd-five-columns &,
		.eltd-elements-holder.eltd-six-columns & {
			width: 100%;
			display: inline-block;
			height: auto;
		}
	}
}

