/* ==========================================================================
# Pie Chart Doughnut - begin
========================================================================== */

.eltd-pie-chart-doughnut-holder {
	display: block;
	position: relative;
	overflow: hidden;

	.eltd-pie-chart-doughnut {
		margin: 0 22px 0 0;
		float: left;
	}

	.eltd-pie-legend {
		position: relative;
		float: left;
		width: 40%;
	}

	.eltd-pie-legend ul {
		list-style: none;
		padding: 0;

		li {
			display: block;
			margin: 0 0 10px 0;

			p {
				font-size: 12px;
				font-family: $headings-font-family;
				text-transform: capitalize;
				font-weight: 600;
				line-height: 25px;
				margin: 0;
				text-align: left;
				padding: 0 0 0 35px;
			}
		}

		li .eltd-pie-color-holder {
			width: 25px;
			height: 25px;
			background-color: $first-main-color;
			float: left;
		}

	}

}

/* ==========================================================================
# Pie Chart Doughnut - end
========================================================================== */