@include laptop-landscape {
	.eltd-pricing-tables.eltd-four-columns .eltd-price-table {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape-plus-pixel)) {
	.eltd-pricing-tables.eltd-two-columns .eltd-price-table,
	.eltd-pricing-tables.eltd-three-columns .eltd-price-table,
	.eltd-pricing-tables.eltd-four-columns .eltd-price-table {
		width: 100%;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}