@include large-laptop {
	.eltd-process-holder {

		&.eltd-process-horizontal .eltd-process-item-holder {
 			opacity:1;
			@include eltdTransform(scale(1,1));
		}

		&.eltd-process-horizontal .eltd-process-bg-holder img {
			max-width:100%;
		}
	}
}

@include laptop-landscape {
	.eltd-process-holder {

		&.eltd-process-horizontal .eltd-process-item-holder {
 			opacity:1;
			@include eltdTransform(scale(1,1));
		}
	}
}

@include ipad-portrait {
	.eltd-process-holder {

		.eltd-process-bg-holder {
			display: none;
		}

		&.eltd-process-holder-items-four {
			.eltd-process-item-holder {

				opacity:1;
				@include eltdTransform(scale(1,1));

				&:nth-child(odd),
				&:nth-child(even) {
					width: 45%;
					margin: 0 0 50px;
				}

				&:nth-child(odd) {
					margin-right: 10%;
				}

				.eltd-pi-holder-inner {
					width: 100%;

					.eltd-pi-content-holder {
						padding: 0 20px;
					}
				}
			}
		}
	}
}

@include phone-portrait {
	.eltd-process-holder {

		.eltd-process-bg-holder {
			display: none;
		}

		&.eltd-process-horizontal {
			.eltd-process-item-holder {
				opacity:1;
				@include eltdTransform(scale(1,1));
			}
		}

		&.eltd-process-holder-items-four {
			.eltd-process-item-holder {

				&:nth-child(odd),
				&:nth-child(even) {
					width: 100%;
					margin: 0;
				}

				&:nth-child(odd) {
					margin-right: 0;
				}

				&:after {
					content: '';
					display: block;
					width: 0;
					height: 60px;
					border: 1px dashed #ebebeb;
					margin: 20px auto;
				}

				&:nth-child(4):after {
					display: none;
				}
			}
		}
	}
}