
/* ==========================================================================
   Progress bar shortcode start styles
   ========================================================================== */
.eltd-progress-bar {
    position: relative;
    margin: 0 0 23px;
    width: 100%;
    overflow: hidden;
    text-align: left;
    
    .eltd-progress-title-holder {
        position: relative;
        margin-bottom: 2px;
        color: #28262b;
        font-style: normal;
        font-family: $headings-font-family;
        text-transform: uppercase;
        
        .eltd-progress-title {
            display: inline-block;
            z-index: 100;
            font-weight: 400;
        }
    }

    .eltd-progress-number-wrapper {
        text-align: right;
        position: absolute;
        right: 0;
        z-index: 10;
        opacity: 0;
        bottom: 0;
        
        .eltd-progress-number {
            font-size: 13px;
            font-weight: 400;
            color: #28262b;
            display: inline-block;
            float: right;
        }

        .eltd-progress-number .eltd-percent:after {
            content: '%';
            margin-left: 0.1em;
            font-size: 1em;
        }
        
    }

    .eltd-progress-number-wrapper.eltd-floating {
        width: 100%;
        height: 100%;
        
        .eltd-progress-number {
            position:absolute;
            @include eltdTransform(translateX(-50%));
            bottom: 0;
        }

        .eltd-down-arrow {
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid $first-main-color;
            display: block;
            position: absolute;
            left: 50%;
            top: 100%;
            @include eltdTransform(translateX(-50%));
        }
        
    }
    
    .eltd-progress-number-wrapper.eltd-floating-inside .eltd-progress-number {
        @include eltdTransform(translateX(-100%));
        height: 16px;
        line-height: 16px;
        
        .eltd-percent {
            display: inline-block;
        }
    }

    .eltd-progress-content-outer {
        background-color: #ebebeb;
        position: relative;
        overflow: hidden;
        height: 5px;
        
        .eltd-progress-content {
            width:0;
            max-width: 100%;
            overflow: hidden;
            background-color: $first-main-color;
            height: 9px;
            border: 1px solid transparent;
            box-sizing: border-box;
        }
    }
}
/* ==========================================================================
   Progress bar shortcode end styles
   ========================================================================== */