.eltd-section-subtitle-holder {
	&.eltd-section-subtitle-center {
		margin-left: auto;
		margin-right: auto;
	}

	.eltd-section-subtitle {
		font-size: 15px;
		font-family: $headings-font-family-2;
		line-height: 30px;
		margin: 0;
		line-height: 25px;
		font-style: italic;

		letter-spacing: 0.025em;
	}
}