.eltd-section-title-holder {
	.eltd-section-title {
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 12px;
		line-height: 36px;

		&.eltd-section-title-large {
			font-size: 37px;
			line-height: 48px;
			margin-bottom: 6px;
		}

		&.eltd-section-title-medium {
			font-size: 30px;
		}

		&.eltd-section-title-small {
			font-size: 26px;
		}
	}
}
