/* ==========================================================================
   Separator start style
   ========================================================================== */
.eltd-separator-holder {
	position: relative;
	height: auto;
	font-size: 0;
    line-height: 1em;

	&.eltd-separator-center {
		text-align: center;
	}
	&.eltd-separator-left {
		text-align: left;
	}
	&.eltd-separator-right {
		text-align: right;
	}

	&.eltd-separator-full-width {
		.eltd-separator {
			width: 100% !important;
		}
	}

}

.eltd-separator {
	position: relative;
	min-width: 30px;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid #b2b2b2;
	margin: 10px 0;
}

/* ==========================================================================
   End of Separator style
   ========================================================================== */