/* ==========================================================================
# Team responsive style - begin
========================================================================== */
@include mac {

	.eltd-team-list {

		&.eltd-team-list-six-columns {

			.eltd-team {
				width: 33.33%;
			}
		}
	}
}

@include ipad-landscape {

	.eltd-team-list {

		&.eltd-team-list-four-columns,
		&.eltd-team-list-six-columns {

			.eltd-team {
				width: 50%;
			}
		}
	}
}

@include ipad-portrait {

	.eltd-team-list {

		&.eltd-team-list-three-columns {

			.eltd-team {
				width: 100%;
			}
		}
	}
}

@include phone-landscape {

	.eltd-team-list {

		&.eltd-team-list-four-columns,
		&.eltd-team-list-six-columns {

			.eltd-team {
				width: 100%;
			}
		}
	}
}

/* ==========================================================================
# Team responsive style - end
========================================================================== */