@media only screen and (max-width: map-get($breakpoints, laptop-landscape-large)) {

	.eltd-testimonials.owl-carousel {

		.owl-controls {

			.owl-prev {
				left: -55px;
			}

			.owl-next {
				right: -55px;
			}

		}

	}
}

@media only screen and (max-width: map-get($breakpoints, laptop-landscape)) {

	.eltd-testimonials-holder-inner .testimonials-grid.eltd-four-columns {
		width: 50%;
	}

	.eltd-testimonials-holder-inner .testimonials-blocks.eltd-four-columns {
		width: 50%;
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {

	.eltd-testimonials-holder-inner .testimonials-blocks.eltd-three-columns {
		width: 50%;
	}

	.eltd-testimonials {

		&.testimonials-blocks {

			.eltd-testimonials-holder-inner {

				.eltd-testimonial-content {

					.eltd-testimonial-text-inner {
						padding: 40px 35px 60px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

	.eltd-testimonials-holder-inner .testimonials-grid.eltd-three-columns {
		width: 50%;
	}

	.eltd-testimonials-holder-inner .testimonials-blocks.eltd-two-columns,
	.eltd-testimonials-holder-inner .testimonials-blocks.eltd-four-columns {
		width: 100%;
	}

	.eltd-testimonials {

		&.testimonials-blocks {

			.eltd-testimonials-holder-inner {

				.eltd-testimonial-content {

					.eltd-testimonial-text-inner {
						padding: 40px 55px 60px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {

	.eltd-testimonials-holder-inner .testimonials-grid.eltd-two-columns {
		width: 100%;
	}

	.eltd-testimonials-holder-inner .testimonials-grid.eltd-three-columns {
		width: 100%;
	}

	.eltd-testimonials-holder-inner .testimonials-grid.eltd-four-columns {
		width: 100%;
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {

	.eltd-testimonials.owl-carousel {

		.owl-controls {
			display: none;
		}

		.owl-pagination {
			display: none;
		}

	}
}
