.eltd-variable-width-slider {
	position: relative;

	.eltd-vws-inner {
		visibility:hidden;

		&.slick-initialized {
			visibility:visible;
		}
	}

	.eltd-vws-image {
		position: relative;

		.eltd-vws-overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			opacity: 0;
			@include eltdTransition(opacity .3s ease-out);
		}

		&:hover {

			.eltd-vws-overlay {
				opacity: 0.2;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		cursor: pointer;
		z-index: 1;
		font-size: 50px;
		color: #444;

		&.eltd-prev-icon {
			left: 85px;

			@include eltdTransform(translateY(-50%));
			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(translateY(-50%) scale(1.1, 0.8));
			}
		}

		&.eltd-next-icon {
			right: 85px;

			@include eltdTransform(translateY(-50%));
			@include eltdTransition(all 0.2s ease-out);

			&:hover {
				@include eltdTransform(translateY(-50%) scale(1.1, 0.8));
			}
		}
	}

	ul.slick-dots {
		position: absolute;
		margin: 0;
		bottom: 35px;
		left: 50%;
		padding: 0;
		list-style: none;
		text-align: center;
		@include eltdTransform(translateX(-50%));
	}

	.slick-dots li {

		position: relative;
		width: 20px;
		display: inline-block;
		height: 20px;
		padding: 0;
		cursor: pointer;
		margin: 0px 1px;

		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 8px;
			height: 8px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;

			&:before {
				font-family: 'slick';
				line-height: 12px;
				position: absolute;
				top: -10px;
				left: 0;
				width: 8px;
				height: 8px;
				content: '';
				display: block;
				border: 1px solid #363636;
				text-align: center;
				color: #000;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				@include eltdBorderRadius(50%);
			}
		}

		&.slick-active button:before {
			opacity: 1;
			background-color: #363636 !important;
		}

	}
}