/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */
.eltd-video-button-play {
	width: 65px;
	height: 65px;
	display: block;
	line-height: 65px;
	font-size: 50px;
	margin: 0 auto;

	.eltd-video-button-wrapper {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		color: $first-main-color;
		@include eltdTransition(background-color .15s ease, color .15s ease);
		@include eltdBorderRadius(50%);

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			@include eltdTransform(translate(-50%, -50%));
		}
	}
}

.eltd-video-button.eltd-light {
	.eltd-video-button-title,
	.eltd-video-button-wrapper {
		color: #fff;
	}
}

.eltd-video-button-title {
	text-align: center;
	margin-top: 20px;
}

/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */