/* Woocommerce Product List Shortcode - begin
========================================================================== */

.eltd-pl-holder {
	@include eltdRelativeHolderLayout();

	.eltd-pli {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0;
		z-index: 100;
		@include eltdBoxSizing(border-box);

		.eltd-pli-title {
			margin: 0 0 4px;
		}

		.eltd-pli-excerpt {
			color: #363636;
			line-height: 1.3em;
			margin: 11px 0 3px;
		}

		.eltd-pli-rating-holder {
			@include eltdRelativeHolderLayout();
			line-height: 1;
			margin: 10px 0 3px;
		}

		.eltd-pli-rating {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			font-family: "ElegantIcons";
			font-size: 12px;
			line-height: 1;
			letter-spacing: 2px;
			color: $first-main-color;
			overflow: hidden;
			-webkit-font-smoothing: antialiased;

			&:before {
				content: "\e031\e031\e031\e031\e031";
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;

				&:before {
					content: "\e033\e033\e033\e033\e033";
				}
			}
		}

		.eltd-pli-price {
			line-height: 1;
			color: #363636;

			* {
				font-size: inherit;
				line-height: inherit;
			}

			del {
				color: #dadada;
				margin: 0 8px 0 0;
			}

			ins {
				text-decoration: none;
			}
		}
	}

	&.eltd-buttons-in {
		.eltd-pli {
			img {
				display: block;
				width: 100%;
				@include eltdTransition(all .4s);
				will-change: transform
			}

			.eltd-pli-inner {
				&:hover {
					img {
						@include eltdTransform(scale(1.07));
					}
				}
			}
		}
	}

	.eltd-pli-inner {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;

		&:hover {

			.eltd-pli-text {
				opacity: 1;
			}

			.eltd-pl-buttons .eltd-pl-buttons-inner {
				bottom: 0;
			}

			.eltd-pli-text-inner {
				@include eltdTransform(translate3d(0,-50%,0));
				@include eltdTransition(all 0.4s ease-out);
			}
		}

		.touch & {
			cursor: pointer;
		}

		.eltd-pli-image {
			@include eltdRelativeHolderLayout();

			img {
				display: block;
				width: 100%;
			}

			.eltd-pli-onsale {
				position: absolute;
				display: block;
				top: 0;
				width: 82px;
				height: 82px;
				line-height: 82px;
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				margin: 0;
				text-transform: lowercase;
				font-style: italic;
				font-family: $headings-font-family-2;
				background-color: $first-main-color;
				text-align: center;
				z-index: 100;

				@include eltdTransform(translateZ(0));
				@include eltdBoxSizing(border-box);
			}

			.eltd-pli-out-of-stock {
				position: absolute;
				display: block;
				top: 0;
				width: 82px;
				height: 82px;
				line-height: 82px;
				color: #fff;
				font-size: 15px;
				font-weight: 400;
				margin: 0;
				text-transform: lowercase;
				font-style: italic;
				font-family: $headings-font-family-2;
				background-color: #363636;
				text-align: center;
				z-index: 100;

				@include eltdTransform(translateZ(0));
				@include eltdBoxSizing(border-box);
			}

			.eltd-pli-new-product {
				position: absolute;
				display: block;
				top: 0;
				width: auto;
				height: 24px;
				color: #fff;
				font-size: 8px;
				line-height: 24px;
				letter-spacing: 1px;
				font-weight: 500;
				padding: 0 16px;
				margin: 0;
				text-align: center;
				z-index: 100;
				@include eltdTransform(translateZ(0));
				@include eltdBoxSizing(border-box);
			}

			.eltd-pli-new-product {
				right: 0;
				background-color: $first-main-color;
			}
		}

		.eltd-pli-text {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 10px;
			opacity: 0;
			background-color: rgba(#363636, 0.6);
			@include eltdBoxSizing(border-box);
			@include eltdTransition(all .4s);
		}

		.eltd-pli-text-outer {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			padding: 20px;

			@include eltdBoxSizing(border-box);
			@include eltdTransition(all 0.4s ease-out);
		}

		.eltd-pli-text-inner {
			position: absolute;
			display: block;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			padding: 0 20px;
			top: 50%;
			left: 0;

			@include eltdBoxSizing(border-box);
			@include eltdTransform(translate3d(0,-50px,0));
			@include eltdTransition(all 0s 0.4s);

			a.eltd-category-shop-link {
				font-size: 15px;
				font-family: $headings-font-family-2;
				font-weight: 400;
				color: #808285;
				font-style: italic;
			}

			.eltd-pli-title,
			.eltd-pli-excerpt {
				color: #fff;
			}

			.eltd-pli-price {
				color: #000;
				font-weight: 300;
				position: relative;
				font-size: 24px;
				padding-top: 13px;
				margin-top: 19px;
				margin-bottom: 4px;

				&:before {
					content: '....................';
					color: $first-main-color;
					position: absolute;
					top: -11px;
					left: 50%;
					line-height: 3px;
					font-weight: 300;
					font-style: italic;
					font-family: $headings-font-family-2;
					font-size: 15px;

					@include eltdTransform(translateX(-50%));
				}

				.woocommerce-Price-currencySymbol {
					vertical-align: super;
					font-size: 15px;
				}
			}

			.eltd-pli-add-to-cart {
				margin: 20px 0 0;

				&.eltd-default-skin {

					.button,
					.added_to_cart {
						color: #fff;
						background-color: #383838;

						&:hover {
							color: #363636;
							background-color: #fff;
						}
					}
				}

				&.eltd-light-skin {

					.button,
					.added_to_cart {
						color: #363636;
						background-color: #fff;

						&:hover {
							color: #fff;
							background-color: $first-main-color;
						}
					}
				}

				&.eltd-dark-skin {

					.button,
					.added_to_cart {
						color: #fff;
						background-color: #363636;

						&:hover {
							color: #fff;
							background-color: $first-main-color;
						}
					}
				}
			}

			.button,
			.added_to_cart {
				position: relative;
				display: inline-block;
				width: auto;
				height: 40px;
				line-height: 40px;
				padding: 0 5px;
				font-size: 12px;
				font-weight: 700;
				letter-spacing: 0.05em;
				color: #fff;
				background-color: #363636;
				border: 0;
				outline: none;
				white-space: nowrap;
				cursor: pointer;
				vertical-align: middle;
				text-transform: uppercase;
				-webkit-appearance: none;
				min-width: 154px;

				@include eltdBoxSizing(border-box);
				@include eltdTransition(color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out);
			}

			.button.added {
				display: none;
			}
		}

		.button.yith-wcqv-button {
			display: none !important;
		}

		.eltd-pl-buttons {
			position: absolute;
			bottom: 0;
			right: 0;
			display: inline-block;
			vertical-align: middle;
			height: 42px;
			line-height: 42px;
			width: 100%;
			z-index: 4;

			.eltd-pl-buttons-inner {
				position: relative;
				bottom: -101%;
				display: table;
				width: 100%;
				vertical-align: top;
				text-align: center;
				background-color: rgba(#363636, .5);
				@include eltdTransition(bottom .2s ease);

				> .clear {
					display: none;
				}

				> * {
					display: table-cell;
					vertical-align: middle;
					margin: 0;
					@include eltdBoxSizing(border-box);

					* {
						max-height: 42px;
					}
				}
			}

			.button,
			.added_to_cart {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				color: #fff;
				font-size: 10px;
				line-height: inherit;
				font-weight: 400;
				letter-spacing: 1.5px;
				text-transform: uppercase;

				&:before {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					margin: 0 10px 0 0;
					font-family: "Ionicons";
					content: "\f3f8";
					speak: none;
					font-size: 18px;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					text-rendering: auto;
					line-height: inherit;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

				&:hover {
					color: $first-main-color;
				}
			}

			.button.added {
				display: none;
			}

			.eltd-yith-wcqv-holder,
			.yith-wcwl-add-to-wishlist {
				width: 45px;
				border-left: 1px solid #dadada;
			}

			.yith-wcwl-add-button,
			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse {

				a {
					width: 100%;
					color: #fff;

					&:hover {
						color: $first-main-color;
					}
				}
			}

			.yith-wcqv-button {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 100%;
				color: #fff;

				.blockUI {
					display: none !important;
				}

				.eltd-yith-wcqv-icon {
					position: relative;
					display: inline-block;
					vertical-align: top;
					color: inherit;
					font-size: 20px;
					line-height: inherit;

					&:before {
						display: block;
						line-height: inherit;
					}
				}

				&:hover {
					color: $first-main-color;
				}
			}
		}

		.eltd-pli-link {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 100%;
			height: 100%;
			@include eltdTransition(0.4s all ease-out);
		}
	}

	.eltd-pli-text-wrapper {
		@include eltdRelativeHolderLayout();
		margin: 22px 0 38px;
	}

	.eltd-pli-inner {

		h3.eltd-product-list-title {
			color: #444;
			line-height: 23px;
			margin-bottom: 5px;
		}

		&:hover .eltd-pli-text-outer {
			opacity: 1;
			background-color: rgba(255, 255, 255, 0.9);
		}

		.eltd-pl-buttons {
			width: auto;

			.eltd-pl-buttons-inner {

				> * {

					&:first-child {
						border-left: none;
					}
				}
			}
		}
	}

	&.eltd-product-info-light {

		.eltd-pli-inner {

			.eltd-pli-text-inner {

				.eltd-pli-excerpt,
				.eltd-pli-rating,
				h3.eltd-product-list-title {
					color: #fff;
				}

				a.eltd-category-shop-link {
					font-size: 15px;
					font-family: $headings-font-family-2;
					font-weight: 400;
					color: #fff;
					font-style: italic;
				}

				.eltd-pli-price {
					color: #fff;

					del {
						color: #cacaca;
					}
				}
			}
		}
	}

	&.eltd-product-info-dark {

		.eltd-pli-inner {

			.eltd-pli-text-inner {

				.eltd-pli-excerpt,
				.eltd-pli-rating,
				h3.eltd-product-list-title {
					color: #363636;
				}

				.eltd-pli-price {
					color: #363636;

					del {
						color: #dadada;
					}
				}
			}
		}
	}

	$columns_space_label: ('no', 'tiny', 'small', 'normal');
	$columns_space_width: (0, 5, 10, 13);

	@for $i from 0 to length($columns_space_label) {
		&.eltd-#{nth($columns_space_label,$i+1)}-space {
			$column_width: nth($columns_space_width, $i+1);
			$column_width_margin: $column_width * 2;

			.eltd-pl-outer {
				@if ($column_width == 0) {
					margin: 0;
				} @else {
					margin: 0 -#{$column_width}px;
				}

				.eltd-pli {
					padding: 0 #{$column_width}px;
					margin: 0 0 #{$column_width_margin}px;
				}
			}
		}
	}

	/*************** Standard Layout - begin ***************/

	&.eltd-standard-layout {

		.eltd-pli {
			float: left;
		}

		&.eltd-normal-space {
			margin: 0 0 -30px;
		}

		&.eltd-small-space {
			margin: 0 0 -20px;
		}

		$standard_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($standard_list_columns) {
			&.eltd-#{nth($standard_list_columns,$i+1)}-columns {
				$column_width: 100%/($i+2);

				.eltd-pli {
					width: $column_width;

					@media only screen and (min-width: ipad-landscape-plus-pixel) {

						&:nth-child(#{$i+2}n+1) {
							clear: both;
						}
					}
				}
			}
		}
	}

	/*************** Standard Layout - end ***************/

	/*************** Masonry Layout - begin ***************/

	&.eltd-masonry-layout {

		&.eltd-pl-holder .eltd-pli .eltd-pli-rating-holder {
			display: none;
		}

		.eltd-pl-outer {
			opacity: 0;
		}

		.eltd-pl-sizer {
			width: 100%;
		}

		.eltd-pl-gutter {
			width: 0%;
		}

		.eltd-pli-inner {
			width: 100%;
		}

		$masonry_list_columns: ('two', 'three', 'four', 'five', 'six');

		@for $i from 0 to length($masonry_list_columns) {
			&.eltd-#{nth($masonry_list_columns,$i+1)}-columns {
				$column_width: 100%/($i+3);

				.eltd-pli,
				.eltd-pl-sizer {
					width: $column_width;
				}

				.eltd-pli.eltd-woo-image-large-width {
					width: $column_width*2;
				}
			}
		}
	}

	/*************** Masonry Layout - end ***************/
}

/* Woocommerce Product List Shortcode - end
========================================================================== */