@media only screen and (min-width: 480px) and (max-width: 768px){ .eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}
}
@media only screen and (max-width: 480px){ .eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}
}