/* ==========================================================================
# Fullscreen menu style - begin
========================================================================== */

/* Fullscreen general style - begin
========================================================================== */

.side_menu_button .eltd-fullscreen-menu-opener {
	@include eltdTransition(background-color 0.15s ease-out);
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-dark-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened) .eltd-line {
	background-color: $header-dark-color !important;
}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-fullscreen-menu-opener:not(.opened) .eltd-line,
.eltd-light-header .eltd-top-bar .eltd-fullscreen-menu-opener:not(.opened) .eltd-line {
	background-color: $header-light-color !important;
}

.eltd-fullscreen-menu-opener {
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include eltdTransition(color 0.2s ease, opacity 0.2s ease);
	color: #b9b9b9;
	width: 30px;
	margin: 10px -8px 0 0;
	vertical-align: baseline;

	.eltd-line {
		display:block;
		height: 2px;
    	background: #363636;
    	margin-bottom:7px;
    	transform-origin: 2px 1px;
    	-webkit-transform-origin: 2px 1px;
    	@include eltdTransition(all 0.4s ease-out);
	}

	.eltd-fullscreen-menu-opener-icon {
		display: inline-block;
		line-height: inherit;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 25%;
		position: relative;
		font-size: 36px;
		color: #363636;

		@include eltdTransition(color 0.2s ease-out);

		&:hover {
			color: $first-main-color;
		}
	}

	&.opened {

		.eltd-line:first-child {
			@include eltdTransform(rotate(45deg));
		}

		.eltd-line:nth-child(2) {
			@include eltdTransform(scale(0));
		}

		.eltd-line:last-child {
			@include eltdTransform(rotate(-45deg));
		}

	}

	.eltd-fullscreen-menu-opener {
		&:hover {
			color: #303030;
		}
		&.opened {
			color: #fff;

			&:hover {
				opacity: 0.8;
			}
		}
	}

}

.eltd-fullscreen-menu-opened {

	.eltd-page-header,
	.eltd-top-bar,
	#multiscroll-nav {
		visibility: hidden;
	}

	.eltd-fullscreen-menu-opener {
		visibility: visible;
	}
}

.eltd-fullscreen-menu-holder-outer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	visibility: hidden;
	opacity: 0;
	z-index: 105; /* this has to be between header z-index and content z-index */
}

.eltd-fullscreen-menu-holder {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: table;
	background-repeat: repeat;
	background-position: 0px 0px;
	color: #808285;
	font-weight: 300;
}

.eltd-fullscreen-menu-holder-inner {
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0px;
}

.touch {

	.eltd-fullscreen-menu-holder-outer {
		display: none;
	}

	.eltd-fullscreen-menu-opened .eltd-fullscreen-menu-holder-outer {
		display: block;
	}

}

nav.eltd-fullscreen-menu {
	margin: 0 auto;
	position: relative;
	top: -27px;
	text-align: left;

	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
			padding: 0;
			text-align: center;
			position: relative;

			&:last-child:after {
				content: '';
			}

			&:after {
				content: '....................';
				color: #ececec;
				position: absolute;
				bottom: 0;
				left: 50%;
				font-family: $headings-font-family-2;
				font-size: 15px;
				font-style: italic;

				@include eltdTransform(translateX(-50%));
			}
		}

		li a {
			font-size: 15px;
			font-weight: 300;
			line-height: 24px;
			letter-spacing: 1px;
			color: #1b1b1b;
			padding: 0px;
			display: block;
			position: relative;
			text-decoration: none;
			cursor: pointer;
			text-transform: uppercase;
			padding-bottom: 29px;
			padding-top: 14px;

			@include eltdTransition(color 0.15s ease-out);
		}

		li a:hover {
			color: $first-main-color;
		}

		li a span {
			display: inline-block;
			vertical-align: middle;
		}

		li ul li a {
			font-size: 18px;
			font-weight: 700;
			line-height: 21px;
			letter-spacing: 2px;
			color: $first-main-color;
		}

		li ul li a:hover {
			color: #8d8d8d;
		}

		li ul li ul li a {
			font-size: 0.5em;
			line-height: 1em;
		}

	}

	> ul {
		display: block;
	}

	ul.sub_menu {
		display: none;
	}

}

.eltd-fullscreen-below-menu-widget-holder {
	text-align: center;
	position: absolute;
	bottom: 55px;
	left: 0;
	width: 100%;
}

.eltd-fullscreen-above-menu-widget-holder {
	text-align: center;
	position: absolute;
	left: 0;
	top: 55px;
	width: 100%;
}

/* Fullscreen general style - end
========================================================================== */

/* Fullscreen fade animations general - begin
========================================================================== */

@-webkit-keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible
	}
	100% {
		opacity: 0;
		visibility: hidden
	}
}

@-moz-keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible
	}
	100% {
		opacity: 0;
		visibility: hidden
	}
}

@keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible
	}
	100% {
		opacity: 0;
		visibility: hidden
	}
}

@-webkit-keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden
	}
	100% {
		opacity: 1;
		visibility: visible
	}
}

@-moz-keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden
	}
	100% {
		opacity: 1;
		visibility: visible
	}
}

@keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden
	}
	100% {
		opacity: 1;
		visibility: visible
	}
}

.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer,
.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: fixed;
	z-index: 105;
	opacity: 0;
}

.eltd-fullscreen-fade-out .eltd-fullscreen-menu-holder-outer {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-animation: fade_out .25s linear both;
	animation: fade_out .25s linear both;
}

.eltd-fullscreen-menu-opened.eltd-fullscreen-fade-in .eltd-fullscreen-menu-holder-outer {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-animation: fade_in .25s linear both;
	animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */

/* Fullscreen animation push text right - begin
========================================================================== */

@-webkit-keyframes push_text_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes push_text_right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-60px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@keyframes push_text_right {
	0% {
		opacity: 0;
		transform: translateX(-60px)
	}
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

@-webkit-keyframes push_nav_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes push_nav_right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-60px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@keyframes push_nav_right {
	0% {
		opacity: 0;
		transform: translateX(-60px)
	}
	100% {
		opacity: 1;
		transform: translateX(0)
	}
}

.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-logo-wrapper,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer nav > ul > li > a,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder > div,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdAnimation(push_text_right .4s cubic-bezier(0.175, 0.885, 0.32, 1) both);
}

.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-push-text-right.eltd-push-nav-right .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdTransition(all .75s ease-out);
	@include eltdTransform(translateX(50px));
}

/* Fullscreen animation push text right - end
========================================================================== */

/* Fullscreen animation push text top - begin
========================================================================== */

@-webkit-keyframes push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes push_text_top {
	0% {
		opacity: 0;
		-moz-transform: translateY(60px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@keyframes push_text_top {
	0% {
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-logo-wrapper,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer nav > ul > li > a,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder > div,
.eltd-fullscreen-menu-opened.eltd-fade-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdAnimation(push_text_top .4s ease-out both .5s);
}

.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-push-text-top.eltd-push-text-top .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdTransform(translateY(-30px));
	@include eltdTransition(all .75s ease-out);
}

/* Fullscreen animation push text top - end
========================================================================== */

/* Fullscreen animation fade text scaledown - begin
========================================================================== */

.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-logo-wrapper,
.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer nav,
.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fullscreen-menu-opened.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	opacity: 1;
	@include eltdTransform(scale(1));
	@include eltdTransition(all .25s linear 0.1s);
}

.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer nav,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-below-menu-widget-holder,
.eltd-fade-text-scaledown .eltd-fullscreen-menu-holder-outer .eltd-fullscreen-above-menu-widget-holder {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	opacity: 0;
	@include eltdTransform(scale(1.1));
	@include eltdTransition(all .25s linear 0.1s);
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */

/* ==========================================================================
# Fullscreen menu style - end
========================================================================== */