.eltd-accordion-holder.eltd-woocommerce-tabs {

	div[itemprop="description"] p {
		padding-top: 0;
		margin-top: 0;
	}

	.eltd-accordion-content {
		font-weight: 300;

		#comments h2.woocommerce-Reviews-title {
			display: none;
		}

		.eltd-accordion-content-inner h2 {
			display: none;
		}
	}

	.eltd-title-holder {
		font-size: 15px;
		color: #000;
		padding: 18px 0 18px 14px;

		&:after {
			content: '....................';
			position: absolute;
			left: 0;
			bottom: -15px;
			color: $first-main-color;
			font-weight: 300;
			font-style: italic;
			font-family: $headings-font-family-2;
			font-size: 15px;
		}

		.eltd-accordion-mark {
			left: -10px;
		}

		&.ui-state-active,
		&.ui-state-hover {
			background-color: transparent;
			color: #000;
			padding-left: 14px;
		}

		&.ui-state-active .eltd-accordion-mark,
		&.ui-state-hover .eltd-accordion-mark {
			color: #000;
		}

		.eltd-tab-title {
			letter-spacing: 1.8px;
		}

	}

	.commentlist {
		list-style-type: none;
	}

	.comment-respond .stars a:before {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		content: "\e033";
		color: #808285;
		overflow: hidden;
		z-index: -1;
	}

	.comment-respond .stars a:before {
		font-family: 'ElegantIcons';
		font-size: 12px;
		line-height: 1;
		letter-spacing: 3px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}