/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - begin
   ========================================================================== */

@include large-laptop {
	.eltd-woo-single-page .product .images {
		margin-right: 0;
	}
}

@include ipad-landscape {

	.eltd-woo-single-page {

		.product {

			.images,
			.eltd-single-product-summary {
				float: none;
				width: 100%;
				padding: 0;
			}

			.eltd-single-product-summary {
				margin: 35px 0 0;
			}
		}
	}

	.eltd-woo-single-page .product .eltd-single-product-content {
		padding: 0 0 18px;
		margin: 0 0 0;
	}

	.eltd-single-product-summary .eltd-single-product-title {
		line-height: 1.2em;
	}

}

@include phone-landscape {

	.eltd-woo-single-page {

		.product {

			.images {

				.thumbnails {

					&.columns-2 {

						a {
							float: none;
							width: 100%;
						}
					}

					&.columns-4 {

						a {
							width: 50%;
						}
					}
				}
			}
		}
	}
}

@include phone-portrait {

	.eltd-woo-single-page {

		.woocommerce-tabs {
			margin: 34px 0 0;

			ul.tabs {

				> li {
					float: none;
					width: 100%;
					padding: 11px 0 0;

					a {
						display: block;
					}
				}
			}
		}
	}

	.eltd-single-product-summary .price {
		font-size: 26px;
	}

	.eltd-single-product-summary .price .woocommerce-Price-currencySymbol {
		font-size: 26px;
		vertical-align: initial;
	}

}

/* ==========================================================================
   WooCommerce Single Product Page Responsive styles - end
   ========================================================================== */