.eltd-header-minimal {
	.eltd-page-header .eltd-menu-area {
		background-color: #fff;
		box-sizing: border-box;

		.eltd-position-right-inner {
			height: auto;
		}

	}

	.eltd-page-header .eltd-sticky-header .eltd-position-left-inner {
		height: auto;
	}

	&.eltd-header-minimal-shadow-disable .eltd-menu-area,
	&.eltd-header-minimal-in-grid-shadow-disable .eltd-page-header .eltd-menu-area .eltd-grid .eltd-vertical-align-containers {
		box-shadow: none;
	}

	&.eltd-light-header .eltd-fullscreen-menu-opener .eltd-fullscreen-menu-opener-icon {
		color: #fff;
	}
}

