.eltd-header-centered {
	.eltd-page-header {
		.eltd-logo-area {
			background-color: #fff;
			height: 118px;
			z-index: 1; //to be above menu area in order to cover shadow

			.eltd-logo-wrapper a {
				max-height: 72px; //80*0.9
			}

			@include eltdBoxSizing(border-box);
		}

		.eltd-menu-area {
			background-color: #fff;
			height: 100px;
			margin-top: -46px;

			@include eltdBoxSizing(border-box);

			.eltd-vertical-align-containers {
				.eltd-position-center-inner {
					height: 100%;
				}
			}
		}

		.eltd-page-header .eltd-sticky-header {
			.eltd-position-left-inner {
				height: auto;
			}

			.eltd-position-right-inner {
				height: 100%;
			}
		}

		.eltd-main-menu ul {
			padding: 0;
		}
	}

	&.eltd-header-centered-logo-border-disable .eltd-logo-area,
	&.eltd-header-centered-logo-in-grid-border-disable .eltd-page-header .eltd-logo-area .eltd-grid .eltd-vertical-align-containers {
		border-bottom: none !important;
	}

	&.eltd-header-centered-menu-shadow-disable .eltd-menu-area,
	&.eltd-header-centered-menu-in-grid-shadow-disable .eltd-page-header .eltd-menu-area .eltd-grid .eltd-vertical-align-containers {
		box-shadow: none !important;
	}
}

