.eltd-header-standard {
	.eltd-menu-area {
		background-color: #fff;

		@include eltdBoxSizing(border-box);

		.eltd-vertical-align-containers {
			.eltd-position-right-inner {
				height: 100%;
			}
		}

		.eltd-main-menu-widget-area {
			margin-left: 8px;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			height: 100%;

		}

		.eltd-main-menu-widget-area-inner {
			display: table;
			height: 100%;
		}

		.eltd-right-from-main-menu-widget {
			display: table;
			float: left;
			padding: 0 16px;
			position: relative;
			vertical-align: middle;
			height: 100%;

			&:last-child {
				padding-right: 0;
			}

			.eltd-right-from-main-menu-widget-inner {
				display: table-cell;
				vertical-align: middle;
			}
		}

		.eltd-drop-down:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			height: 40px;
			width: 1px;
			background-color: #d4d4d3;

			@include eltdTransform(translateY(-50%));
		}
	}

	&.eltd-light-header .eltd-menu-area .eltd-right-from-main-menu-widget:before {
		background-color: rgba($header-light-color, 0.5);
	}

	&.eltd-dark-header .eltd-menu-area .eltd-right-from-main-menu-widget:before {
		background-color: rgba($header-dark-color, 0.5);
	}

	&.eltd-header-standard-border-disable .eltd-menu-area {
		border-bottom: none;
	}
}

