/* ==========================================================================
   WooCommerce Onsale and Out of Stock styles - begin
   ========================================================================== */
.woocommerce {

    .eltd-onsale {
        position: absolute;
        display: block;
        top: 0;
        width: 82px;
        height: 82px;
        line-height: 82px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        text-transform: lowercase;
        font-style: italic;
        font-family: $headings-font-family-2;
        background-color: $first-main-color;
        text-align: center;
        z-index: 100;

        @include eltdTransform(translateZ(0));
        @include eltdBoxSizing(border-box);
    }

    .eltd-out-of-stock {
        position: absolute;
        display: block;
        top: 0;
        width: 82px;
        height: 82px;
        line-height: 82px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        text-transform: lowercase;
        font-style: italic;
        font-family: $headings-font-family-2;
        background-color: #363636;
        text-align: center;
        z-index: 100;

        @include eltdTransform(translateZ(0));
        @include eltdBoxSizing(border-box);

        span.eltd-out-of-stock-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 18px;
            @include eltdTransform(translateX(-50%) translateY(-50%));
        }
    }

    .eltd-onsale {
        left: 0;
    }

    .eltd-new-product {
        right: 0;
    }
}

.eltd-woo-single-page {

    .eltd-out-of-stock {
        right: 23px;
    }
}
/* ==========================================================================
   WooCommerce Onsale and Out of Stock styles - end
   ========================================================================== */