/* ==========================================================================
   WooCommerce Message Responsive styles - begin
   ========================================================================== */

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {

    .eltd-woocommerce-page {

        .woocommerce-message,
        .woocommerce-info,
        .woocommerce-error {
            padding: 17px 25px;
        }
    }
}

@media only screen and (max-width: map-get($breakpoints, phone-landscape)) {

    .eltd-woocommerce-page {

        .woocommerce-message,
        .woocommerce-info,
        .woocommerce-error {
            padding: 14px 20px;
            line-height: 2em;

            a {
            	float: none;
                margin: 0 70% 15px 0;
            }
        }
    }
}
/* ==========================================================================
   WooCommerce Message Responsive styles - end
   ========================================================================== */