/* ==========================================================================
   WooCommerce Quantity Inputs styles - begin
   ========================================================================== */

.woocommerce-page .eltd-content,
div.woocommerce {

    .eltd-quantity-buttons {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        .eltd-quantity-input,
        .eltd-quantity-minus,
        .eltd-quantity-plus {
            display: inline-block;
            vertical-align: middle;
            color: $default-text-color;
            background-color: transparent;
            border: 1px solid #ebebeb;
            text-align: center;

            @include eltdBoxSizing(border-box);
        }

        .eltd-quantity-input {
            position: relative;
            height: 46px;
            width: 47px;
            padding: 0;
            margin: 0 45px 0 0;
            font-family: inherit;
            font-size: 18px;
            line-height: 46px;
            outline: 0;
        }

        .eltd-quantity-minus,
        .eltd-quantity-plus {
            position: absolute;
            right: 0;
            width: 46px;
            height: 23px;
            line-height: 23px;
            border-left: 0;
            font-family: 'Linearicons-Free';
            cursor: pointer;

            @include eltdTransition(color .15s ease-in-out);

            &:hover {
                color: $first-main-color;
            }
        }

        .eltd-quantity-plus {
            top: 0;
            border-bottom: 0;
        }

        .eltd-quantity-minus {
            bottom: 0;
        }
    }
}

.woocommerce-page .eltd-content,
div.woocommerce {

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
        position: relative;
        width: 100%;
        padding: 12px 20px;
        font-family: inherit;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: $default-text-color;
        background-color: transparent;
        border: 1px solid $default-border-color;
        outline: 0;
        -webkit-appearance: none;
        margin-bottom: 22px;

        @include eltdBoxSizing(border-box);

        &:focus {
            border-color: $headings-text-color;
        }

        &::-webkit-input-placeholder {
            color: $default-text-color;
        }
        &:-moz-placeholder {
            color: $default-text-color;
        }
        &::-moz-placeholder {
            color: $default-text-color;
        }
        &:-ms-input-placeholder {
            color: $default-text-color;
        }
    }

    .coupon {

        input[type="text"] {
            width: 200px;
        }
    }
}
/* ==========================================================================
   WooCommerce Quantity Inputs styles - end
   ========================================================================== */