/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - begin
   ========================================================================== */
.eltd-woocommerce-page {

	@include phone-portrait {
		.woocommerce-result-count,
		.woocommerce-ordering {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
		}

		.woocommerce-ordering .orderby {
			display: block;
			float: none;
		}

		.woocommerce-ordering .select2-container .select2-arrow {
			right: 60px;
		}
	}
}

/* ==========================================================================
   WooCommerce Result and Ordering Responsive styles - end
   ========================================================================== */