/* ==========================================================================
   WooCommerce Result and Ordering styles - begin
   ========================================================================== */
.eltd-woocommerce-page {

	.woocommerce-ordering {
		display: inline;
		width: 50%;
		margin: 0;
		float: left;
		margin-bottom: 10px;
	}

	.woocommerce-result-count {
		display: inline;
		width: 50%;
		margin: 0;
		line-height: 44px;
		color: #808285;
		font-style: italic;
		float: right;
		text-align: right;
		font-family: $headings-font-family-2;
	}

	.woocommerce-ordering {

		.orderby {
			float: left;
			width: auto;
			min-width: 250px;
			margin: 0;

			.select2-choice {
				padding: 0 50px 0 0;
			}
		}

		.select2-container .select2-arrow {
			right: 93px;
		}
	}
}

/* ==========================================================================
   WooCommerce Result and Ordering styles - end
   ========================================================================== */