input.eltd-form-element,
select.eltd-form-element,
textarea.eltd-form-element {
	@include eltd-box-shadow(none);
	@include eltd-transition(border-color 0.3s ease-in-out);

	border-color: #ddd;
	font-size: 12px;
	outline: none;
}

.input-group-addon {
    font-size: 12px;
    background-color: #f7f7f7;
}

input[type='text'].eltd-form-element,
input[type='email'].eltd-form-element,
input[type='password'].eltd-form-element,
input[type='number'].eltd-form-element,
select.eltd-form-element,
textarea.eltd-form-element {
	@include eltd-border-radius(4px);
}

input[type='text'].eltd-form-element.eltd-form-element-xxsmall,
input[type='email'].eltd-form-element.eltd-form-element-xxsmall,
input[type='password'].eltd-form-element.eltd-form-element-xxsmall,
input[type='number'].eltd-form-element.eltd-form-element-xxsmall,
select.eltd-form-element.eltd-form-element-xxsmall,
textarea.eltd-form-element.eltd-form-element-xxsmall {
	width: 60px;
}

input[type='text'].eltd-form-element.eltd-form-element-xsmall,
input[type='email'].eltd-form-element.eltd-form-element-xsmall,
input[type='password'].eltd-form-element.eltd-form-element-xsmall,
input[type='number'].eltd-form-element.eltd-form-element-xsmall,
select.eltd-form-element.eltd-form-element-xsmall,
textarea.eltd-form-element.eltd-form-element-xsmall {
	width: 100px;
}

input[type='text'].eltd-form-element.eltd-form-element-small,
input[type='email'].eltd-form-element.eltd-form-element-small,
input[type='password'].eltd-form-element.eltd-form-element-small,
input[type='number'].eltd-form-element.eltd-form-element-small,
select.eltd-form-element.eltd-form-element-small,
textarea.eltd-form-element.eltd-form-element-small {
	width: 155px;
}

input[type='text'].eltd-form-element.eltd-form-element-medium,
input[type='email'].eltd-form-element.eltd-form-element-medium,
input[type='password'].eltd-form-element.eltd-form-element-medium,
input[type='number'].eltd-form-element.eltd-form-element-medium,
select.eltd-form-element.eltd-form-element-medium,
textarea.eltd-form-element.eltd-form-element-medium {
	width: 255px;
}

input[type='text'].eltd-form-element.eltd-form-element-large,
input[type='email'].eltd-form-element.eltd-form-element-large,
input[type='password'].eltd-form-element.eltd-form-element-large,
input[type='number'].eltd-form-element.eltd-form-element-large,
select.eltd-form-element.eltd-form-element-large,
textarea.eltd-form-element.eltd-form-element-large {
	width: 500px;
}

textarea.eltd-form-element {
	resize: none;
}
#general textarea.eltd-form-element {
	resize: vertical;
}

input[type='text'].eltd-form-element,
input[type='email'].eltd-form-element,
input[type='password'].eltd-form-element,
input[type='number'].eltd-form-element,
select.eltd-form-element {
	height: 34px;
	line-height: 1.42857143;
}

input[type='text'].eltd-form-element,
input[type='email'].eltd-form-element,
input[type='password'].eltd-form-element,
input[type='number'].eltd-form-element,
select.eltd-form-element,
textarea.eltd-form-element {
	padding: 6px 12px;
}
input.eltd-form-element:hover,
select.eltd-form-element:hover,
textarea.eltd-form-element:hover {
	background-color:#f7f9fa;
}

input.eltd-form-element:focus,
select.eltd-form-element:focus,
textarea.eltd-form-element:focus {
	border-color: #999;
	background-color:#f7f9fa;
}

input[type="radio"].eltd-form-element,
input[type="checkbox"].eltd-form-element {
	margin-top: 1px;
	outline: none;
}

@media only screen and (max-width: $second-break-point) {

	input[type="radio"].eltd-form-element,
	input[type="checkbox"].eltd-form-element {
		width: 16px;
		height: 16px;
	}
}
@media only screen and (max-width: $second-break-point) {
	input[type="radio"].eltd-form-element:checked:before,
	input[type="checkbox"].eltd-form-element:checked:before {
		font: 400 21px/1 dashicons;
	}
}
@media only screen and (max-width: $second-break-point) {
	input[type="checkbox"].eltd-form-element:checked:before {
		margin: -3px 0 0 -4px;
	}
}
@media only screen and (max-width: $second-break-point) {
	input[type="radio"].eltd-form-element:checked:before {
		margin: 3px;
	}
}

.input-group {
	margin-bottom: 15px;
}

.input-group .input-group-addon {
	@include eltd-border-radius(0);
}

label {
	margin:0;
}

.radio-inline input[type="radio"] + img {
    border: 2px solid transparent;
    -webkit-transition: border-color 0.15s ease-in-out;
    -moz-transition: border-color 0.15s ease-in-out;
    -ms-transition: border-color 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out;
}

.radio-inline input[type="radio"]:checked + img {
    border-color: #54a2af;
}

.eltd-radio-group-holder.with-images .radio-inline {
    padding-left: 0;
}