.eltd-portfolio-list-holder-outer.eltd-ptf-gallery {
	article {
		.eltd-ptf-item-title {
			position: relative;
			color: #363636;
			text-transform: uppercase;
		}

		.eltd-ptf-item-title {
			z-index: 3;
		}

		.eltd-ptf-item-image-holder {
			overflow: hidden;
		}

		.eltd-ptf-item-category {
			color: #808285;

			h5 {
				margin: 0;
			}
		}

		.eltd-portfolio-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}

		.eltd-ptf-item-text-overlay {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: rgba(248, 248, 248, 0.9);

		    &.partial-hover {
		      top: 18px;
		      left: 18px;
		      right: 18px;
		      bottom: 18px;
		    }

			@include eltdTransition(opacity 0.4s ease-in-out);
			@include eltdBoxSizing(border-box);
		}

		.eltd-ptf-item-text-overlay-inner {
			@include eltdTableLayout;
		}

		.eltd-ptf-item-text-holder {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 20px;
		}

		&:hover {
			.eltd-ptf-item-text-overlay {
				opacity: 1;
			}

			.eltd-ptf-item-image-holder img {
				@include eltdTransform(scale(1));
			}
		}

		.eltd-ptf-item-icons-holder {
			margin: 10px 0;
		}
	}
}