/* ==========================================================================
   Justified gallery start styles
   ========================================================================== */
/*
 * Justified Gallery - v3.6.1
 * http://miromannino.github.io/Justified-Gallery/
 * Copyright (c) 2015 Miro Mannino
 * Licensed under the MIT license.
 */
@-webkit-keyframes justified-gallery-show-caption-animation{from{opacity:0}to{opacity:.7}}@-moz-keyframes justified-gallery-show-caption-animation{from{opacity:0}to{opacity:.7}}@-o-keyframes justified-gallery-show-caption-animation{from{opacity:0}to{opacity:.7}}@keyframes justified-gallery-show-caption-animation{from{opacity:0}to{opacity:.7}}@-webkit-keyframes justified-gallery-show-entry-animation{from{opacity:0}to{opacity:1}}@-moz-keyframes justified-gallery-show-entry-animation{from{opacity:0}to{opacity:1}}@-o-keyframes justified-gallery-show-entry-animation{from{opacity:0}to{opacity:1}}@keyframes justified-gallery-show-entry-animation{from{opacity:0}to{opacity:1}}.justified-gallery{width:100%;position:relative;overflow:hidden}.justified-gallery>a,.justified-gallery>div{position:absolute;display:inline-block;overflow:hidden;opacity:0;filter:alpha(opacity=0)}.justified-gallery>a>img,.justified-gallery>div>img,.justified-gallery>a>a>img,.justified-gallery>div>a>img{position:absolute;top:50%;left:50%;margin:0;padding:0;border:0}.justified-gallery>a>.caption,.justified-gallery>div>.caption{display:none;position:absolute;bottom:0;padding:5px;background-color:#000;left:0;right:0;margin:0;color:#fff;font-size:12px;font-weight:300;font-family:sans-serif}.justified-gallery>a>.caption.caption-visible,.justified-gallery>div>.caption.caption-visible{display:initial;opacity:.7;filter:"alpha(opacity=70)";-webkit-animation:justified-gallery-show-caption-animation 500ms 0 ease;-moz-animation:justified-gallery-show-caption-animation 500ms 0 ease;-ms-animation:justified-gallery-show-caption-animation 500ms 0 ease}.justified-gallery>.entry-visible{opacity:1;filter:alpha(opacity=100);-webkit-animation:justified-gallery-show-entry-animation 500ms 0 ease;-moz-animation:justified-gallery-show-entry-animation 500ms 0 ease;-ms-animation:justified-gallery-show-entry-animation 500ms 0 ease}.justified-gallery>.jg-filtered{display:none}.justified-gallery>.spinner{position:absolute;bottom:0;margin-left:-24px;padding:10px 0;left:50%;opacity:initial;filter:initial;overflow:initial}.justified-gallery>.spinner>span{display:inline-block;opacity:0;filter:alpha(opacity=0);width:8px;height:8px;margin:0 4px;background-color:#000;border-top-left-radius:6px;border-top-right-radius:6px;border-bottom-right-radius:6px;border-bottom-left-radius:6px}


/* Added style */

.eltd-portfolio-list-holder-outer.eltd-ptf-justified-gallery {

  article .eltd-item-image-holder {
    height: 100%;
    overflow: hidden;
  }

  article .eltd-item-image-holder img {
    width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }

  article {
    @include eltdBoxSizing(border-box);
  }

  .eltd-portfolio-list-holder > article {
      position: absolute;
      display: inline-block;
      overflow: hidden;
      opacity:0;
      visibility:hidden;
      @include eltdTransition(opacity 0.4s ease-out);

      &.show {
        opacity:1;
        visibility:visible;
      }
  }

  .eltd-portfolio-list-holder > article a img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      border: 0;
  }

  .eltd-ptf-item-text-overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(255,255,255,0.95);
    @include eltdTransition(opacity .4s ease-out);
    @include eltdBoxSizing(border-box);

    &.partial-hover {
      top: 18px;
      left: 18px;
      right: 18px;
      bottom: 18px;
    }

    &:hover {
      opacity: 1;
    }

    .eltd-ptf-item-text-overlay-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      @include eltdTransform(translate(-50%,-50%));

      .eltd-ptf-category-holder {
        margin-top: 4px;
        margin-bottom: 8px;

        &:after {
          content: '....................';
          display: block;
          color: $first-main-color;
          font-family: $headings-font-family-2;
          font-style: italic;
          font-size: 15px;
        }
      } 
    }
  }

  .eltd-ptf-category-holder span {
    color:#808285;
  }

}
/* ==========================================================================
   Justified gallery end styles
   ========================================================================== */