.eltd-portfolio-list-holder-outer.eltd-ptf-masonry {

	.eltd-portfolio-masonry-item {
		position: relative;
		height: 100%;
	}

	&.eltd-ptf-masonry-with-space {

		.eltd-portfolio-list-holder {
			margin: -35px;
		}

		article {
			padding: 35px;
		}
	}

	&.eltd-ptf-masonry-with-parallax {

		article {
			z-index: 1;

			&.eltd-masonry-parallax-floating-item {
				z-index: 0;

				.eltd-ptf-item-text-overlay {
					display: none;
				}
			}
		}
	}

	article .eltd-item-image-holder {
		height: 100%;
		overflow: hidden;
		background: transparent center center no-repeat;
		background-size: cover;
	}

	article .eltd-item-image-holder img {
		width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}

	article {
		@include eltdBoxSizing(border-box);
	}

	.eltd-portfolio-list-masonry-grid-gutter {
		width: 0;
	}

	article.eltd-large-height-masonry-item .eltd-item-image-holder img {
		width: auto;
		height: 100%;
	}

	&.eltd-ptf-masonry-three-columns {

		.eltd-portfolio-list-masonry-grid-sizer,
		article.eltd-default-masonry-item,
		article.eltd-large-height-masonry-item {
			width: 33.33%;
		}

		.eltd-large-width-masonry-item,
		.eltd-large-width-height-masonry-item {
			width: 66.66%;
		}
	}

	&.eltd-ptf-masonry-four-columns {

		.eltd-portfolio-list-masonry-grid-sizer,
		article.eltd-default-masonry-item,
		article.eltd-large-height-masonry-item {
			width: 25%;
		}

		.eltd-large-width-masonry-item,
		.eltd-large-width-height-masonry-item {
			width: 50%;
		}
	}

	&.eltd-ptf-masonry-five-columns {

		.eltd-portfolio-list-masonry-grid-sizer,
		article.eltd-default-masonry-item,
		article.eltd-large-height-masonry-item {
			width: 20%;
		}

		.eltd-large-width-masonry-item,
		.eltd-large-width-height-masonry-item {
			width: 40%;
		}
	}

	.eltd-ptf-item-text-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		background-color: rgba(255,255,255,0.95);
		opacity: 0;
		@include eltdTransition(opacity .4s ease-out);

		&.partial-hover {
			top: 18px;
			left: 18px;
			right: 18px;
			bottom: 18px;
		}

		&:hover {
			opacity: 1;
		}

		.eltd-ptf-item-text-overlay-inner {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			@include eltdTransform(translate(-50%,-50%));

			.eltd-ptf-category-holder {
				margin-top: 4px;
				margin-bottom: 8px;

				span {
					color:#808285;
				}

				&:after {
					content: '....................';
					display: block;
					color: $first-main-color;
					font-family: $headings-font-family-2;
					font-style: italic;
					font-size: 15px;
				}
			}	
		}
	}
}