.eltd-blog-holder.eltd-masonry-full-width {
  margin-right: 2%;
  margin-left: 2%;
}

.eltd-blog-holder.eltd-masonry-full-width article {
  width: 18.4%;
}

.eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-sizer {
  width: 18.4%;
}

.eltd-blog-holder.eltd-masonry-full-width .eltd-blog-masonry-grid-gutter {
  width: 2%;
}

.eltd-blog-holder.eltd-blog-type-masonry {
  margin-bottom: 20px;
  transition: none !important;
  overflow: visible !important;
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-author-desc {
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.eltd-blog-holder.eltd-blog-type-masonry h2.eltd-post-title {
  margin-bottom: 23px;
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-post-excerpt {
  padding-bottom: 20px;
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-post-content .eltd-post-info-date {
  border-right: 0;
  margin-right: 0;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-content {
  background-color: #ff7348;
  padding: 10px 25px 15px 30px;
  position: relative;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-content h5.eltd-author-name {
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-content .eltd-post-title a:hover {
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-content .eltd-post-info-date {
  color: #fff;
  border-right: 0 !important;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-mark {
  position: absolute;
  top: -15px;
  right: -12px;
  font-size: 48px;
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-title span.quote_author {
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-title {
  padding-bottom: 28px;
  margin-bottom: 0 !important;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-quote .eltd-post-title h3 {
  margin-top: 0 !important;
  margin-bottom: 13px;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link .eltd-post-content {
  background-color: #ff7348;
  padding: 10px 20px 15px 30px;
  position: relative;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link .eltd-post-content h5.eltd-author-name {
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link .eltd-post-content .eltd-post-title a:hover {
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link .eltd-post-content .eltd-post-info-date {
  color: #fff;
  border-right: 0 !important;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link .eltd-post-mark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  color: #fff;
}

.eltd-blog-holder.eltd-blog-type-masonry .format-link h3.eltd-post-title {
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-top: 11px;
}

.eltd-blog-holder.eltd-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 42px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-sizer {
  width: 32%;
}

.eltd-blog-holder.eltd-blog-type-masonry .eltd-blog-masonry-grid-gutter {
  width: 2%;
}

.eltd-blog-holder.eltd-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltd-blog-holder.eltd-blog-type-standard .eltd-author-desc {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.eltd-blog-date-on-side article {
  margin-bottom: 48px;
}

.eltd-blog-date-on-side article .eltd-post-image {
  margin-bottom: 21px;
}

.eltd-blog-date-on-side article .eltd-post-info {
  margin-top: 15px;
}

.eltd-blog-date-on-side article h6.eltd-author-name {
  margin-top: 3px;
}

.eltd-blog-date-on-side article.format-quote {
  margin-bottom: 113px;
}

.eltd-blog-date-on-side article.format-link {
  margin-bottom: 113px;
}

.eltd-blog-date-on-side .eltd-date-format {
  float: left;
  padding: 8px 18px 9px 18px;
  background-color: #f5f5f5;
  color: #111;
  font-weight: 700;
  position: relative;
  top: 5px;
  max-width: 71px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-blog-date-on-side span.eltd-day {
  display: block;
  text-align: center;
  font-size: 25px;
}

.eltd-blog-date-on-side span.eltd-month {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
}

.eltd-blog-date-on-side .eltd-post-text-inner {
  margin-left: 106px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.eltd-blog-date-on-side .post_format-post-format-link .eltd-post-text-inner,
.eltd-blog-date-on-side .post_format-post-format-quote .eltd-post-text-inner {
  margin-left: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}

.eltd-blog-date-on-side .format-link .eltd-post-mark {
  color: #fff;
  font-size: 40px;
  background-color: #ff7348;
  float: left;
  width: 83px;
  height: 83px;
  line-height: 83px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.eltd-blog-date-on-side .format-link h4.eltd-post-title {
  margin-left: 106px;
}

.eltd-blog-date-on-side .format-quote .eltd-post-mark {
  color: #fff;
  font-size: 60px;
  background-color: #ff7348;
  float: left;
  width: 83px;
  height: 83px;
  line-height: 83px;
  text-align: center;
  position: absolute;
  left: 0;
}

.eltd-blog-date-on-side .format-quote .eltd-post-title {
  margin-bottom: 14px;
}

.eltd-blog-date-on-side .format-quote .eltd-post-title-holder {
  margin-left: 106px;
}

.eltd-blog-date-on-side .format-quote p.eltd-quote-author {
  color: #ff7348;
}

.eltd-blog-date-on-side .eltd-more-link-container {
  margin-top: 20px;
}

.eltd-blog-date-on-side .eltd-post-content .eltd-author-desc {
  padding-left: 106px;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-image-wrapper,
.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-text {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.eltd-blog-holder.eltd-blog-type-split-column article:not(.format-quote):not(.format-link) .eltd-post-text-inner {
  padding-left: 45px;
}

.page-template-blog-standard .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-standard .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner,
.page-template-blog-standard-date-on-side .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-standard-date-on-side .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner,
.page-template-blog-masonry .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-masonry .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner,
.page-template-blog-masonry-full-width .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-masonry-full-width .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner,
.page-template-blog-whole-post .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-whole-post .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner,
.page-template-blog-split-column .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.page-template-blog-split-column .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
  padding: 90px 0;
}

.eltd-grid-row .eltd-grid-col-9 .eltd-blog-holder,
.eltd-grid-row .eltd-grid-col-8 .eltd-blog-holder {
  padding-right: 60px;
}

.eltd-grid-row .eltd-grid-col-9.eltd-grid-col-push-4 .eltd-blog-holder, .eltd-grid-row .eltd-grid-col-9.eltd-grid-col-push-3 .eltd-blog-holder,
.eltd-grid-row .eltd-grid-col-8.eltd-grid-col-push-4 .eltd-blog-holder,
.eltd-grid-row .eltd-grid-col-8.eltd-grid-col-push-3 .eltd-blog-holder {
  padding-left: 60px;
  padding-right: 0;
}

.eltd-blog-holder {
  font-weight: 300;
}

.eltd-blog-holder article {
  padding-bottom: 0;
}

.eltd-blog-holder article p {
  font-size: 14px;
}

.eltd-blog-holder article + article {
  margin-top: 78px;
}

.eltd-blog-holder article.format-quote + article,
.eltd-blog-holder article.format-link + article {
  margin-top: 86px;
}

.eltd-blog-holder article .eltd-post-image-wrapper {
  position: relative;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date {
  position: relative;
  display: inline-block;
  background-color: #363636;
  color: #9d9fa2;
  padding: 10px 20px;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-wrapper {
  display: inline-block;
  text-align: center;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-day,
.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-month,
.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-year {
  display: block;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-day {
  font-size: 34px;
  line-height: 1em;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-month {
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-size: 13px;
  margin-top: 8px;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-post-info-date .eltd-post-date-year {
  font-weight: 400;
  margin-top: 5px;
  display: none;
}

.eltd-blog-holder article .eltd-post-image-wrapper.eltd-post-with-image .eltd-post-image img {
  vertical-align: middle;
}

.eltd-blog-holder article .eltd-post-image-wrapper.eltd-post-with-image .eltd-post-info-date {
  position: absolute;
  top: 25px;
  left: -22px;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-blog-gallery-grid {
  margin: 0 -4px;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-blog-gallery-grid > div {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 4px;
  margin-bottom: 8px;
}

.eltd-blog-holder article .eltd-post-text {
  margin-top: 26px;
}

.eltd-blog-holder article .eltd-post-text-inner > h1:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h2:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h3:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h4:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h5:not(.eltd-post-title),
.eltd-blog-holder article .eltd-post-text-inner > h6:not(.eltd-post-title) {
  margin: 15px 0;
}

.eltd-blog-holder article.sticky .eltd-post-title a {
  color: #ff7348;
}

.eltd-blog-holder article .eltd-post-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.eltd-blog-holder article .eltd-post-info {
  display: inline-block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 40px;
  position: relative;
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-size: 13px;
}

.eltd-blog-holder article .eltd-post-info:after {
  content: '....................';
  position: absolute;
  bottom: -35px;
  left: 0;
  font-weight: 300;
  color: #ff7348;
  font-style: italic;
}

.eltd-blog-holder article .eltd-post-info .eltd-blog-like i {
  margin-right: 3px;
}

.eltd-blog-holder article .eltd-post-info span.icon_tags {
  margin-right: 10px;
  font-size: 14px;
}

.eltd-blog-holder article .eltd-post-info > div {
  display: inline-block;
  position: relative;
}

.eltd-blog-holder article .eltd-post-info > div:not(.eltd-post-info-category):after {
  content: '/';
  margin-left: 4px;
  margin-right: 7px;
}

.eltd-blog-holder article .eltd-post-info a {
  color: inherit;
}

.eltd-blog-holder article .eltd-post-info a:hover {
  color: #383838;
}

.eltd-blog-holder article .eltd-post-excerpt {
  margin-top: 50px;
  margin-bottom: 0;
}

.eltd-blog-holder article.format-quote .eltd-post-date-day:after,
.eltd-blog-holder article.format-quote .eltd-post-date-month:after {
  content: ' ';
}

.eltd-blog-holder article.format-quote .eltd-post-quote-holder {
  background-color: #f9f9f9;
  padding: 40px 90px 45px;
  text-align: center;
}

.eltd-blog-holder article.format-quote .eltd-post-mark {
  display: block;
  width: 40px;
  margin: 0 auto 17px;
  font-size: 24px;
  line-height: 24px;
  color: #ff7348;
  position: relative;
}

.eltd-blog-holder article.format-quote .eltd-post-mark:after, .eltd-blog-holder article.format-quote .eltd-post-mark:before {
  content: '';
  width: 90px;
  height: 1px;
  background-color: #d7d7d7;
  position: absolute;
  top: 50%;
}

.eltd-blog-holder article.format-quote .eltd-post-mark:after {
  left: 100%;
}

.eltd-blog-holder article.format-quote .eltd-post-mark:before {
  right: 100%;
}

.eltd-blog-holder article.format-quote .eltd-post-quote-text,
.eltd-blog-holder article.format-quote .eltd-post-quote-text h3 {
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #808285;
  text-transform: none;
  letter-spacing: normal;
  line-height: 24px;
}

.eltd-blog-holder article.format-quote .eltd-post-quote-author-text {
  margin: 25px 0 0;
}

.eltd-blog-holder article.format-quote .eltd-post-quote-author-text .eltd-post-quote-author-name {
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28262b;
}

.eltd-blog-holder article.format-quote .eltd-post-quote-author-text .eltd-post-quote-position:before {
  content: "/ ";
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28262b;
}

.eltd-blog-holder article.format-quote .eltd-post-content .eltd-post-text {
  position: relative;
}

.eltd-blog-holder article.format-link .eltd-post-date-day:after,
.eltd-blog-holder article.format-link .eltd-post-date-month:after {
  content: ' ';
}

.eltd-blog-holder article.format-link .eltd-post-link-holder {
  background-color: #f9f9f9;
  padding: 40px 90px 45px;
  text-align: center;
}

.eltd-blog-holder article.format-link .eltd-post-mark {
  display: block;
  width: 40px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  color: #ff7348;
  position: relative;
}

.eltd-blog-holder article.format-link .eltd-post-mark:after, .eltd-blog-holder article.format-link .eltd-post-mark:before {
  content: '';
  width: 90px;
  height: 1px;
  background-color: #d7d7d7;
  position: absolute;
  top: 50%;
}

.eltd-blog-holder article.format-link .eltd-post-mark:after {
  left: 100%;
}

.eltd-blog-holder article.format-link .eltd-post-mark:before {
  right: 100%;
}

.eltd-blog-holder article.format-link .eltd-post-link-text {
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28262b;
  margin-top: 20px;
}

.eltd-blog-holder article.format-link .eltd-post-link-link h6 {
  margin: 7px 0 0;
}

.eltd-blog-holder article.format-link .eltd-post-content .eltd-post-text {
  position: relative;
}

.eltd-blog-infinite-scroll-button {
  display: none;
}

.eltd-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.eltd-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.eltd-filter-blog-holder li.eltd-active {
  color: #ff7348;
}

.eltd-single-links-pages {
  margin-top: 20px;
}

.eltd-single-links-pages .eltd-single-links-pages-inner > a,
.eltd-single-links-pages .eltd-single-links-pages-inner > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}

.single .eltd-blog-date-on-side .eltd-single-tag {
  float: left;
  width: 50%;
}

.single .eltd-blog-date-on-side .eltd-single-tags-holder {
  margin: 0;
}

.single .eltd-blog-date-on-side .eltd-single-tags-holder .eltd-single-tags-title {
  margin-top: 0;
}

.single .eltd-blog-date-on-side .format-quote .eltd-social-share-holder.eltd-list {
  display: inline-block;
}

.single .eltd-blog-date-on-side .format-quote .eltd-share-icons-single {
  text-align: left;
}

.single .eltd-blog-date-on-side .format-quote .eltd-quote-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.single .eltd-blog-date-on-side .format-quote .eltd-post-content .eltd-post-text .eltd-post-info-date,
.single .eltd-blog-date-on-side .format-quote .eltd-post-content .eltd-post-text .eltd-post-info a,
.single .eltd-blog-date-on-side .format-quote .eltd-post-content .eltd-post-text .eltd-post-info-category.eltd-post-info-item {
  color: #545454;
}

.single .eltd-blog-date-on-side .format-quote .eltd-post-content .eltd-post-text .eltd-post-info-date {
  display: inline-block;
  padding-right: 20px;
}

.single .eltd-blog-date-on-side .format-quote .eltd-post-info > div {
  border-right: 1px solid #ff7348;
  margin-right: 10px;
  line-height: 20px;
}

.single .eltd-blog-date-on-side .format-quote .eltd-post-info > div:last-child {
  border-right: 0;
}

.single .eltd-blog-date-on-side .format-quote .eltd-post-info {
  margin-left: 106px;
}

.single .eltd-blog-date-on-side article.post .eltd-share-icons-single {
  text-align: left;
}

.single .eltd-blog-date-on-side article.format-link span.eltd-share-label {
  color: #bbb;
}

.single .eltd-blog-date-on-side article.format-link .eltd-social-share-holder.eltd-list {
  display: inline-block;
}

.single .eltd-blog-date-on-side article.format-link .eltd-social-share-holder.eltd-list li a {
  color: #545454;
}

.single .eltd-blog-date-on-side article.format-link .eltd-link-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 20px;
}

.single .eltd-blog-date-on-side article.format-link .eltd-post-info {
  margin-left: 106px;
}

.single .eltd-blog-date-on-side article.format-link .eltd-post-content .eltd-post-text .eltd-post-info-date,
.single .eltd-blog-date-on-side article.format-link .eltd-post-content .eltd-post-text .eltd-post-info a,
.single .eltd-blog-date-on-side article.format-link .eltd-post-content .eltd-post-text .eltd-post-info-category.eltd-post-info-item {
  color: #545454;
}

.single .eltd-blog-date-on-side article.format-link .eltd-post-content .eltd-post-text .eltd-post-info-date {
  display: inline-block;
  padding-right: 20px;
}

.single .eltd-blog-date-on-side article.format-link .eltd-post-info > div {
  border-right: 1px solid #ff7348;
  margin-right: 10px;
  line-height: 20px;
}

.single .eltd-blog-date-on-side article.format-link .eltd-post-info > div:last-child {
  border-right: 0;
}

.single-post .eltd-content .eltd-content-inner > .eltd-container > .eltd-container-inner,
.single-post .eltd-content .eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
  padding: 92px 0 100px;
}

.single .eltd-blog-holder article {
  margin-bottom: 48px;
}

.single .eltd-blog-holder .format-quote .eltd-post-text {
  margin-top: 0;
}

.single .eltd-blog-holder .format-quote .eltd-post-quote-holder {
  padding: 65px 65px 70px;
  background-color: #f9f9f9;
  margin-bottom: 34px;
}

.single .eltd-blog-holder .format-quote .eltd-post-mark {
  margin: 0 auto 5px;
  color: inherit;
}

.single .eltd-blog-holder .format-quote .eltd-post-title {
  margin: 0;
}

.single .eltd-blog-holder .format-quote .eltd-post-quote-author-text {
  margin: 13px 0 0;
}

.single .eltd-blog-holder .format-quote .eltd-post-quote-author-text .eltd-post-quote-author-name {
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28262b;
}

.single .eltd-blog-holder .format-quote .eltd-post-quote-author-text .eltd-post-quote-position:before {
  content: "/ ";
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28262b;
}

.single .eltd-blog-holder .format-quote .eltd-post-info {
  margin: 50px 0 0;
}

.single .eltd-blog-holder .format-quote .eltd-post-info:after {
  bottom: initial;
  left: 50%;
  top: -40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.single .eltd-blog-holder .format-quote .eltd-share-icons-single {
  float: none;
  display: block;
  text-align: center;
  margin: 11px auto 0;
}

.single .eltd-blog-holder .format-link .eltd-post-text {
  margin-top: 0;
}

.single .eltd-blog-holder .format-link .eltd-post-link-holder {
  padding: 65px 65px 70px;
  background-color: #f9f9f9;
  margin-bottom: 34px;
}

.single .eltd-blog-holder .format-link .eltd-post-mark {
  margin: 0 auto 5px;
  color: inherit;
}

.single .eltd-blog-holder .format-link .eltd-post-title {
  margin: 0;
}

.single .eltd-blog-holder .format-link .eltd-post-title:hover {
  color: inherit;
}

.single .eltd-blog-holder .format-link .eltd-post-info {
  margin: 12px 0 0;
}

.single .eltd-blog-holder .format-link .eltd-post-info:after {
  content: none;
}

.single .eltd-blog-holder .format-link .eltd-share-icons-single {
  float: none;
  display: block;
  text-align: center;
  margin: 50px auto 0;
  position: relative;
}

.single .eltd-blog-holder .format-link .eltd-share-icons-single:before {
  content: '....................';
  position: absolute;
  top: -44px;
  left: 50%;
  font-weight: 300;
  font-size: 15px;
  color: #ff7348;
  font-style: italic;
  font-family: "Droid Serif", sans-serif;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.single .eltd-author-description {
  background-color: #363636;
  padding: 40px 80px;
  margin-bottom: 40px;
}

.single .eltd-author-description .eltd-author-social-holder {
  margin-top: 3px;
}

.single .eltd-author-description .eltd-author-social-holder a {
  color: inherit;
}

.single .eltd-author-description .eltd-author-social-holder a:hover {
  color: #ff7348;
}

.single .eltd-author-description .eltd-author-social-holder .eltd-author-social-icon {
  margin: 0 8px;
  font-size: 11px;
  text-align: center;
}

.single .eltd-author-description .eltd-author-description-image {
  width: 78px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.single .eltd-author-description .eltd-author-description-image img {
  vertical-align: middle;
}

.single .eltd-author-description .eltd-author-description-text-holder {
  position: relative;
  text-align: center;
  margin-top: 25px;
}

.single .eltd-author-description .eltd-author-description-text-holder .eltd-post-author-name-position {
  margin-bottom: 0;
  margin-top: 20px;
}

.single .eltd-author-description .eltd-author-description-text-holder .eltd-author-email {
  margin: 0;
}

.single .eltd-author-description .eltd-author-description-text-holder .eltd-author-text h5 {
  margin: 0;
}

.single .eltd-author-description .eltd-author-description-text-holder .eltd-post-author-name {
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.single .eltd-author-description .eltd-author-description-text-holder .eltd-post-author-position:before {
  content: "/ ";
  font-style: normal;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.single .eltd-single-tags-holder {
  width: 60%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px;
}

.single .eltd-single-tags-holder .eltd-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.single .eltd-single-tags-holder .eltd-tags {
  display: inline-block;
}

.single .eltd-single-tags-holder .eltd-tags a {
  font-size: 12px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #363636;
  padding: 4px 26px;
  margin-right: 3px;
  margin-bottom: 5px;
  border: 1px solid #e1e1e1;
  -webkit-transition: background-color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: background-color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
  transition: background-color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
}

.single .eltd-single-tags-holder .eltd-tags a:hover {
  background-color: #ff7348;
  border: 1px solid #ff7348;
  color: #fff;
}

.single .eltd-blog-single-navigation {
  position: relative;
  padding: 10px 0;
}

.single .eltd-blog-single-navigation .eltd-single-nav-content-holder {
  padding: 30px 0;
}

.single .eltd-blog-single-navigation .eltd-blog-single-navigation-inner {
  position: relative;
}

.single .eltd-blog-single-navigation .eltd-blog-single-navigation-inner .eltd-single-nav-separator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  background-color: #e5e5e5;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev,
.single .eltd-blog-single-navigation .eltd-blog-single-next {
  font-size: 13px;
  width: 50%;
  text-align: center;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-text,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-text {
  position: relative;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-text a,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-text a {
  color: inherit;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-arrow,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-arrow {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-arrow:hover,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-arrow:hover {
  -webkit-transform: translateY(-50%) scale(1.1, 0.8);
  -moz-transform: translateY(-50%) scale(1.1, 0.8);
  transform: translateY(-50%) scale(1.1, 0.8);
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-post-title,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-post-title {
  color: #414042;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-post-sub,
.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-post-sub {
  font-family: "Droid Serif", sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1em;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev img,
.single .eltd-blog-single-navigation .eltd-blog-single-next img {
  vertical-align: middle;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-image-holder {
  float: left;
  width: 109px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-image-holder {
  float: right;
  width: 109px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev.eltd-single-nav-with-image .eltd-single-nav-content-holder {
  padding-left: 122px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-next.eltd-single-nav-with-image .eltd-single-nav-content-holder {
  padding-right: 122px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev {
  float: left;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-text {
  float: left;
  padding-left: 65px;
  padding-right: 65px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-prev .eltd-single-nav-arrow {
  left: 0;
}

.single .eltd-blog-single-navigation .eltd-blog-single-next {
  float: right;
}

.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-text {
  float: right;
  padding-right: 65px;
  padding-left: 65px;
}

.single .eltd-blog-single-navigation .eltd-blog-single-next .eltd-single-nav-arrow {
  right: 0;
}

.eltd-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.eltd-related-posts-holder .eltd-related-posts-title {
  margin-bottom: 20px;
}

.eltd-related-posts-holder .eltd-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.eltd-related-posts-holder .eltd-related-post:nth-child(4n) {
  margin-right: 0;
}

.eltd-related-posts-holder .eltd-related-post img {
  display: block;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-image {
  margin-bottom: 16px;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-title,
.eltd-related-posts-holder .eltd-related-post .eltd-related-post-info {
  margin-bottom: 6px;
}

.eltd-related-posts-holder .eltd-related-post .eltd-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.eltd-column1 .eltd-related-posts-holder .eltd-related-post,
.eltd-column2 .eltd-related-posts-holder .eltd-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.eltd-column1 .eltd-related-posts-holder .eltd-related-post:nth-child(3n),
.eltd-column2 .eltd-related-posts-holder .eltd-related-post:nth-child(3n) {
  margin-right: 0;
}

.eltd-content .eltd-share-icons ul {
  margin: 0;
}

.eltd-post-content .eltd-image-name {
  float: left;
  width: 50%;
}

.eltd-post-content .eltd-share-icons {
  float: right;
  width: 50%;
  text-align: right;
}

.eltd-post-content .eltd-social-share-holder.eltd-list {
  display: inline-block;
}

.eltd-post-content .eltd-author-image {
  height: 100%;
  display: inline-block;
  float: left;
  margin-right: 13px;
}

.eltd-post-content .eltd-author-image img {
  width: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.eltd-post-content .eltd-author-name-holder {
  position: relative;
  float: left;
}

.eltd-post-content .eltd-author-desc {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-top: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-post-content .eltd-image-name {
  float: left;
  width: 50%;
}

.eltd-post-content h5.eltd-author-name {
  margin: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #545454;
}

.eltd-post-content .eltd-blockquote-shortcode {
  margin: 47px auto 42px;
}

article.post .eltd-tags-share-holder {
  position: relative;
  margin-top: 27px;
  padding-top: 20px;
}

article.post .eltd-category-holder {
  width: 50%;
  float: left;
}

article.post .eltd-share-icons-single {
  width: 40%;
  float: left;
  text-align: left;
  box-sizing: border-box;
  line-height: 34px;
}

article.post .eltd-single-tags-holder + .eltd-share-icons-single {
  text-align: right;
  padding-left: 20px;
}

article .eltd-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

article .eltd-category a {
  margin-left: 10px;
}

article .eltd-category span.icon_tags {
  color: #ff7348;
}

article .eltd-post-image {
  margin-bottom: 0;
}

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder {
  width: 100%;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder .mejs-container, .eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder .mejs-embed, .eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder .mejs-embed body, .eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder .mejs-container .mejs-controls {
  background-color: #444444;
}

.eltd-blog-holder article .eltd-post-image-wrapper .eltd-audio-player-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.eltd-blog-holder article .eltd-post-image-wrapper.eltd-post-with-image .eltd-audio-player-holder {
  position: absolute;
  bottom: 0;
  left: 0;
}

.eltd-self-hosted-video-holder .eltd-video-wrap .mejs-container,
.eltd-self-hosted-video-holder .eltd-video-wrap .mejs-overlay-play {
  height: 100% !important;
  /*!important because of the inline style*/
  width: 100% !important;
  /*!important because of the inline style*/
}

.mejs-container {
  height: 38px !important;
}

.mejs-container * {
  font-family: "Lato", sans-serif;
}

.mejs-container .mejs-controls {
  height: 38px;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.mejs-container .mejs-controls div {
  height: 38px;
  text-align: center;
  line-height: 40px;
}

.mejs-controls .mejs-button button {
  background: none;
  font-family: 'ElegantIcons';
  color: #fff;
  margin: 0;
  height: 100%;
  position: static;
  width: auto;
  display: inline-block;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.mejs-controls .mejs-button button:hover {
  color: #d6dbdd;
}

.mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  width: 46px;
}

.mejs-controls .mejs-play button {
  font-family: 'ElegantIcons';
  font-size: 18px;
  color: #fff;
}

.mejs-controls .mejs-play button:after {
  content: "\45";
}

.mejs-controls .mejs-pause button {
  font-family: 'ElegantIcons';
  font-size: 18px;
}

.mejs-controls .mejs-pause button:after {
  content: "\60";
}

.mejs-controls .mejs-mute button {
  font-family: 'ElegantIcons';
  font-size: 15px;
}

.mejs-controls .mejs-mute button:after {
  content: "\7a";
}

.mejs-controls .mejs-unmute button {
  font-family: 'ElegantIcons';
  font-size: 13px;
}

.mejs-controls .mejs-unmute button:after {
  content: "\78";
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  width: 32px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button {
  font-size: 13px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button button:after {
  content: "\30";
}

.mejs-container .mejs-controls .mejs-time {
  height: 39px;
  padding: 0;
  width: 35px;
  font-size: 12px;
  font-weight: 600;
}

.mejs-controls div.mejs-time-rail {
  padding-top: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
  display: none !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  height: 6px;
  background-color: #fff;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 17px;
}

.mejs-controls .mejs-time-rail .mejs-time-current:after {
  content: '';
  height: 9px;
  width: 9px;
  background-color: #7d7d7d;
  position: absolute;
  bottom: 50%;
  right: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  margin-top: 6px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
  height: 6px;
  background-color: #d6dbdd;
}

.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #7d7d7d;
  height: 6px;
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/*# sourceMappingURL=blog.css.map */