
@media only screen and (min-width: 480px) and (max-width: 768px){
	/* generated in /home/addonsbiges/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles-responsive.php malmo_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}

}

@media only screen and (max-width: 480px){
	/* generated in /home/addonsbiges/public_html/wp-content/themes/malmo/assets/custom-styles/general-custom-styles-responsive.php malmo_elated_design_responsive_styles function */
.eltd-section.eltd-parallax-section-holder { height: auto !important;min-height: 400px;}

}