/* Fullscreen search general style - start
========================================================================== */
.eltd-fullscreen-search-holder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 105;
	opacity: 0;

	.eltd-search-label {
		font-size: 30px;
		line-height: 1em;
		color: #a1a1a1;
		vertical-align: bottom;
	}

	.eltd-field-holder {
		width: 50%;
		display: inline-block;
		vertical-align: bottom;
		position: relative;
		border-bottom: 1px solid #acacac;
		padding-bottom: 7px;

		.eltd-line {
			position: absolute;
			bottom: -1px;
			left: 0;
			height: 1px;
			width: 0;
			background-color: #acacac;
			@include eltdTransition(width 0.3s ease);
		}

	}

	.eltd-search-field {
		width: 88%;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: none;
		background: transparent;
		outline: none;
		height: 100%;
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		line-height: 1em;
		position: relative;
		float: left;

		&::-webkit-input-placeholder {
			color: #808285;
			font-size: 18px;
			font-weight: 400;
		}

		&:-moz-placeholder {
			color: #808285;
			font-size: 18px;
			font-weight: 400;
		}

		&::-moz-placeholder {
			color: #808285;
			font-size: 18px;
			font-weight: 400;
		}

		&:-ms-input-placeholder {
			color: #808285;
			font-size: 18px;
			font-weight: 400;
		}
	}

	.eltd-search-submit {
		border: none;
		background: transparent;
		outline: none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size: 24px;
		line-height: 1em;
		color: #909090;
		float: right;

		@include eltdTransition(color 0.2s ease);
	}

	.eltd-search-submit:hover {
		color: #696969;
	}

	.eltd-search-close-holder {
		float: right;
		margin-right: 45px;
	}

	.eltd-fullscreen-search-close-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;

		a {
			opacity: 0;
			visibility: hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			color: #fff;
			top: 40px;
			right: 40px;
			height: 42px;
			width: 42px;
			line-height: 42px;
			text-align: center;
		}

	}

}

.eltd-fullscreen-search-table {
	display: table;
	width: 100%;
	height: 100%;
}

.eltd-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
}

//Fix for woocommerce page
.eltd-fullscreen-search-opened .eltd-form-holder .eltd-search-field {
	width: 88%;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: none;
	background: transparent;
	outline: none;
	height: 100%;
	font-size: 18px;
	color: #fff;
	line-height: 1em;
	position: relative;
	font-weight: 400;
	font-family: $headings-font-family-2;
	padding: 0;
	font-style: italic;
	float: left;

	&::-webkit-input-placeholder {
		color: #808285;
		font-size: 18px;
		font-weight: 400;
		font-family: $headings-font-family-2;
	}

	&:-moz-placeholder {
		color: #808285;
		font-size: 18px;
		font-weight: 400;
		font-family: $headings-font-family-2;
	}

	&::-moz-placeholder {
		color: #808285;
		font-size: 18px;
		font-weight: 400;
		font-family: $headings-font-family-2;
	}

	&:-ms-input-placeholder {
		color: #808285;
		font-size: 18px;
		font-weight: 400;
		font-family: $headings-font-family-2;
	}
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search from circle style - start
========================================================================== */

.eltd-fullscreen-search-overlay {
	position: absolute;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	top: 50%;
	left: 0;
	border-radius: 100%;
	opacity: 0;
	z-index: 99;
	-ms-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	@include eltdTransform(scale(0));
	background-color: rgba(255, 255, 255, 0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-transition: -ms-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
	transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.eltd-fullscreen-search-overlay.eltd-animate {
	@include eltdTransform(scale(3));
	opacity: 1;
}

.eltd-search-from-circle .eltd-fullscreen-search-holder {
	@include eltdTransition(opacity 0.3s ease);
	display: none;
	opacity: 0;
	visibility: visible;
	z-index: 111;
}

/* Fullscreen search from circle style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.eltd-search-fade .eltd-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index: 111;
	box-sizing: border-box;

	.eltd-fullscreen-search-table {
		background-color: #383838;
	}
}

.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder {
	@include eltdAnimation(search_fade_out .25s linear both);
}

.eltd-search-fade-in.eltd-search-fade .eltd-fullscreen-search-holder.eltd-animate {
	@include eltdAnimation(search_fade_in .25s linear both);
}

.eltd-search-fade .eltd-fullscreen-search-holder.eltd-animate .eltd-fullscreen-search-close {
	opacity: 1;
	visibility: visible;
}

@-webkit-keyframes search_fade_out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes search_fade_out {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@-webkit-keyframes search_fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes search_fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		transform: translateY(60px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes search_push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.eltd-search-fade.eltd-fullscreen-search-opened .eltd-fullscreen-search-holder .eltd-form-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdAnimation(search_push_text_top .4s ease-out both .25s);
}

.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-search-label,
.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-search-submit,
.eltd-search-fade-out.eltd-search-fade .eltd-fullscreen-search-holder .eltd-field-holder {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include eltdTransform(translateY(-30px));
	@include eltdTransition(transform 0.75s ease-out);
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/
