/* Portfolio slider styles - start
   ========================================================================== */
.eltd-portfolio-slider-holder {
	.eltd-portfolio-slider-list {
		list-style-type: none;
		text-align: center;

		width: auto;

		margin: 0 -15px;

		li {
			padding: 0 15px;
		}
	}

	.eltd-ptfs-item-image {
		margin-bottom: 25px;

		a {
			display: block;
		}

		img {
			vertical-align: middle;
		}
	}

	.eltd-ptfs-item-title {
		margin-top: 0;
		margin-bottom: 19px;
		text-transform: uppercase;
	}

	.eltd-ptfs-item-excerpt-holder {
		p {
			margin: 0;
			font-weight: 300;
		}
	}

	.owl-pagination {
		margin-top: 33px;
	}

	&.eltd-portfolio-slider-light {
		.eltd-ptfs-item-title,
		.eltd-ptfs-item-excerpt-holder {
			color: #fff;
		}
	}
}

/* Portfolio slider styles - end
   ========================================================================== */