@import "blocks/logo";
@import "blocks/widgets";
@import "blocks/navigation/navigation";

.eltd-header-vertical {
	.eltd-content,
	footer {
		padding-left: $vertical-menu-width;
		box-sizing: border-box;
	}

	.eltd-vertical-menu-area {
		position: fixed;
		width: $vertical-menu-width;
		top: 0;
		left: 0;
		padding: 20px 10px;
		background-color: transparent;
		height: 100%;
		z-index: 101;
		-webkit-backface-visibility: hidden;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		outline: none;
	}

	&.admin-bar .eltd-vertical-menu-area {
		top: 33px;
	}

	.eltd-vertical-menu-area.eltd-with-scroll {
		overflow: hidden;
	}

	.eltd-vertical-area-background {
		position: fixed;
		width: $vertical-menu-width;
		height: 100%;
		background-position: right top;
		background-repeat: no-repeat;
		background-color: #fff;
		background-size: cover;
		top: 0;
		left: 0;
		z-index: 0;
		opacity: 1;

		@include eltdTransition(opacity 0.5s ease, background-color 0.5s ease);
	}

	&.eltd-light-header {

		.eltd-vertical-area-background,
		.eltd-vertical-dropdown-float .second .inner ul ul {
			background-color: #363636;
		}
	}

	&.eltd-dark-header {

		.eltd-vertical-area-background,
		.eltd-vertical-dropdown-float .second .inner ul ul {
			background-color: #fff;
		}
	}
}