/* ==========================================================================
# Portfolio Single Big Slider - begin
========================================================================== */

.eltd-portfolio-single-holder.big-slider {
	padding-top: 15px;

	.eltd-big-image-holder {
		margin-bottom: 45px;
	}

	.eltd-portfolio-info-holder {
		margin-top: 15px;
		padding: 50px;
		background-color: #363636;

		.eltd-portfolio-info-label {
			color: #fff;
		}
	}

	.eltd-portfolio-info-content-holder {
		margin-top: 20px;
	}

	.eltd-portfolio-item-social {

		.eltd-portfolio-single-share-holder {

			.social_share {
				color: #fff;
				@include eltdTransition(inherit);
			}

			&:hover {

				.social_share {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-portfolio-single-likes {

		.eltd-like {

			.lnr-heart {
				color: #fff;
			}

			&.liked {

				.lnr-heart {
					color: $first-main-color;
				}
			}
		}
	}

}

/* ==========================================================================
# Portfolio Single Big Slider - end
========================================================================== */