/* ==========================================================================
# Portfolio Single Big Images - begin
========================================================================== */

.eltd-portfolio-single-holder.big-images {
	padding-top: 15px;

	.eltd-big-image-holder {
		margin-bottom: 45px;
	}

	.eltd-portfolio-media {
		margin-left: -($eltd-gutter-width / 2);
		margin-right: -($eltd-gutter-width / 2);
		@include eltdClearfix;

		.eltd-portfolio-single-media {
			float: left;
			width: 100%;
			padding: 0 $eltd-gutter-width / 2;
			margin-bottom: $eltd-gutter-width;
			@include eltdBoxSizing(border-box);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.prominent-image {

		.eltd-portfolio-media {

			.eltd-portfolio-single-media {
				width: 50%;

				&:first-child {
					width: 100%;
				}
			}
		}
	}

	.eltd-portfolio-info-holder {
		margin-top: 15px;
		padding: 50px;
		background-color: #363636;

		.eltd-portfolio-info-label {
			color: #fff;
		}
	}

	.eltd-portfolio-info-content-holder {
		margin-top: 20px;
	}

	.eltd-portfolio-item-social {

		.eltd-portfolio-single-share-holder {

			.social_share {
				color: #fff;
				@include eltdTransition(inherit);
			}

			&:hover {

				.social_share {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-portfolio-single-likes {

		.eltd-like {

			.lnr-heart {
				color: #fff;
			}

			&.liked {

				.lnr-heart {
					color: $first-main-color;
				}
			}
		}
	}

}

/* ==========================================================================
# Portfolio Single Big Images - end
========================================================================== */