.single-portfolio-item {

	.eltd-content {

		.eltd-content-inner > .eltd-container > .eltd-container-inner {
			padding: 92px 0 60px;
		}

		.eltd-content-inner > .eltd-full-width > .eltd-full-width-inner {
			padding: 92px 85px 60px;

			.eltd-column1 > .eltd-column-inner {
				padding-right: 42px;
			}

			.eltd-column2 > .eltd-column-inner {
				padding-left: 42px;
			}

			.eltd-portfolio-media .eltd-portfolio-single-media:not(:last-child) {
				margin-bottom: 85px;
			}
		}
	}
}

.eltd-portfolio-single-holder {
	.eltd-portfolio-single-media {
		a {
			display: block;
		}

		img {
			vertical-align: middle;
		}
	}

	p {
		font-size: 15px;
	}

	.eltd-portfolio-item-content {
		margin-top: 48px;
		font-weight: 300;
		position: relative;

		&:before {
			content: '....................';
			position: absolute;
			left: 0;
			top: -39px;
			color: $first-main-color;
			font-family: $headings-font-family-2;
			font-style: italic;
			font-weight: 300;
		}
	}

	.eltd-portfolio-item-title {
		margin-top: 0;
		text-transform: uppercase;
	}

	.eltd-portfolio-item-button {
		margin-top: 47px;

		a {
			padding: 7px 33px;
		}

		a.eltd-btn.eltd-btn-medium {
			min-width: 154px;
		}
	}

	.eltd-portfolio-info-content-holder {
		margin-top: 35px;
	}

	.eltd-portfolio-info-holder {
		@include eltdBoxSizing(border-box);

		.eltd-portfolio-info-label {
			margin-top: 16px;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.eltd-portfolio-info-value {
			margin-top: 0;
			font-size: 13px;
		}

		> div:first-child {

			.eltd-portfolio-info-label {
				margin-top: 0;
			}
		}
	}

	.eltd-portfolio-info-item {
		margin-top: 4px;

		&:first-child {
			margin-top: 0;
		}
	}

	.eltd-portfolio-item-social {
		margin-top: 50px;
		position: relative;

		.eltd-portfolio-single-share-holder {
			display: inline-block;
			padding-left: 10px;
		}

		.eltd-social-share-holder {
			display: inline-block;
			font-family: $headings-font-family-2;
			font-style: italic;
			text-transform: lowercase;
		}

		&:before {
			content: '....................';
			position: absolute;
			left: 0;
			top: -40px;
			color: #fff;
			font-family: $headings-font-family-2;
			font-style: italic;
			font-weight: 300;
		}
	}

	.eltd-portfolio-author-holder {
		.eltd-author-description-image {
			display: inline-block;
			float: left;

			img {
				width: 58px;

				@include eltdBorderRadius(50%);
			}
		}

		.eltd-author-name-position {
			padding-left: 77px;
		}

		h5.eltd-author-name {
			margin-top: 0;
			margin-bottom: 0;
			color: #222;
		}

		h6.eltd-author-position {
			font-size: 14px;
			color: $first-main-color;
			margin-top: 3px;
			text-transform: none;
		}

		.eltd-author-description-text-holder {
			margin-top: 0;
			margin-bottom: 19px;
			line-height: 30px;
		}

	}

	.eltd-portfolio-single-likes {
		display: inline-block;

		.eltd-like {
			color: #808080;
			font-size: 13px;
			font-family: $headings-font-family-2;
			font-style: italic;

			.lnr-heart {
				margin-right: 3px;
			}

			&:after {
				content: ' /';
			}

			&.liked {

				.lnr-heart {
					color: $first-main-color;
				}
			}
		}
	}

	.eltd-portfolio-single-navigation {
		position: relative;
		padding: 10px 0;
		margin-top: 20px;

		.eltd-single-nav-content-holder {
			padding: 30px 0;
		}

		.eltd-portfolio-single-navigation-inner {
			position: relative;
			min-height: 100px;

			.eltd-portfolio-back-btn {
				position: absolute;
				left: 50%;
				top: 50%;
				font-size: 30px;
				width: 30px;
				height: 30px;
				@include eltdTransform(translate(-50%, -50%));

				& > a {
					display: block;
					width: 100%;
					height: 100%;
					position: relative;
				}

				.eltd-portfolio-back-btn-square {
					display: block;
					position: absolute;
					width: 13px;
					height: 13px;
					border: 1px solid #e1e1e1;
					@include eltdBoxSizing(border-box);
					@include eltdTransition(top .2s ease-out, left .2s ease-out, right .2s ease-out, bottom .2s ease-out);

					&:nth-child(1) {
						top: 0;
						left: 0;
					}

					&:nth-child(2) {
						top: 0;
						right: 0;
					}

					&:nth-child(3) {
						bottom: 0;
						left: 0;
					}

					&:nth-child(4) {
						bottom: 0;
						right: 0;
					}
				}

				&:hover {

					.eltd-portfolio-back-btn-square {

						&:nth-child(1) {
							top: -2px;
							left: -2px;
						}

						&:nth-child(2) {
							top: -2px;
							right: -2px;
						}

						&:nth-child(3) {
							bottom: -2px;
							left: -2px;
						}

						&:nth-child(4) {
							bottom: -2px;
							right: -2px;
						}
					}
				}
			}
		}

		.eltd-portfolio-single-prev,
		.eltd-portfolio-single-next {
			font-size: 13px;
			width: 50%;
			text-align: center;

			.eltd-single-nav-text {
				position: relative;

				a {
					color: inherit;
				}
			}

			.eltd-single-nav-arrow {
				position: absolute;
				top: 50%;
				margin-top: -4px;
				font-size: 30px;
				@include eltdTransform(translateY(-50%));
				@include eltdTransition(all 0.2s ease-out);

				&:hover {
					@include eltdTransform(translateY(-50%) scale(1.1, 0.8));
				}
			}

			.eltd-single-nav-post-title {
				color: #414042;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				margin: 0;
				line-height: 1em;
			}

			.eltd-single-nav-post-sub {
				font-family: $headings-font-family-2;
				font-style: italic;
				margin: 0;
				line-height: 1em;
			}

			img {
				vertical-align: middle;
			}
		}

		.eltd-portfolio-single-prev .eltd-single-nav-image-holder {
			float: left;
			width: 109px;
		}

		.eltd-portfolio-single-next .eltd-single-nav-image-holder {
			float: right;
			width: 109px;
		}

		.eltd-portfolio-single-prev.eltd-single-nav-with-image .eltd-single-nav-content-holder {
			padding-left: 122px;
		}

		.eltd-portfolio-single-next.eltd-single-nav-with-image .eltd-single-nav-content-holder {
			padding-right: 122px;
		}

		.eltd-portfolio-single-prev {
			float: left;

			.eltd-single-nav-text {
				float: left;
				padding-left: 65px;
			}

			.eltd-single-nav-arrow {
				left: 0;
			}
		}

		.eltd-portfolio-single-next {
			float: right;

			.eltd-single-nav-text {
				float: right;
				padding-right: 65px;
			}

			.eltd-single-nav-arrow {
				right: 0;
			}
		}
	}

	.eltd-portfolio-video-lightbox {
		position: relative;
		display: block;

		img {
			vertical-align: middle;
		}
	}

	.eltd-portfolio-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;

		.eltd-portfolio-play-icon {
			position: absolute;
			font-size: 20px;
			left: 50%;
			top: 50%;

			@include eltdTransform(translate(-50%, -50%));
		}
	}
}