/* ==========================================================================
# Portfolio Single Small Images - begin
========================================================================== */
$eltd-gutter-width: 25px;

.small-images {

	.eltd-portfolio-info-holder {

		&.eltd-left-side {
			margin-bottom: 55px;
		}

		.eltd-portfolio-item-content {
			margin-bottom: 0;
		}

		.eltd-portfolio-content-holder {
			margin-bottom: 60px;
		}

		.eltd-portfolio-item-button {
			margin-top: 25px;
		}

		.eltd-portfolio-item-social:before {
			color: $first-main-color;
		}
	}

	.eltd-portfolio-media {
		margin-left: -($eltd-gutter-width / 2);
		margin-right: -($eltd-gutter-width / 2);
		margin-top: 15px;
		@include eltdClearfix;

		.eltd-portfolio-single-media {
			float: left;
			width: 100%;
			padding: 0 $eltd-gutter-width / 2;
			margin-bottom: $eltd-gutter-width;
			@include eltdBoxSizing(border-box);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.prominent-image {

		.eltd-portfolio-media {

			.eltd-portfolio-single-media {
				width: 50%;

				&:first-child {
					width: 100%;
				}
			}
		}
	}

	.eltd-follow-portfolio-info {
		position: relative;

		//@include eltdTransition(margin-top 0.2s ease);
	}
}

/* ==========================================================================
# Portfolio Single Small Images - end
========================================================================== */