/* ==========================================================================
# Side area style - start
========================================================================== */

//TODO Delete commented code

/* Side area general style - start
========================================================================== */

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-side-menu-button-opener,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-side-menu-button-opener,
.eltd-top-bar-light .eltd-top-bar .eltd-side-menu-button-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener;
}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-side-menu-button-opener,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-side-menu-button-opener,
.eltd-top-bar-dark .eltd-top-bar .eltd-side-menu-button-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
}

.eltd-side-menu-button-opener {
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	@include eltdTransition(initial);
	color: #363636;
}

.eltd-side-menu-button-opener.medium {
	display: inline-block;
	font-size: 21px;
	line-height: 30px;
	height: 30px;
	width: 19px;
}

.eltd-side-menu-button-opener.large {
	display: inline-block;
	font-size: 28px;
	line-height: 34px;
	height: 34px;
	width: 24px;
}

.eltd-side-menu-button-opener.eltd-side-menu-button-opener-default {
	width: 19px;
	vertical-align: baseline;
}

.eltd-side-menu-button-opener > .eltd-side-area-icon {
	display: inline-block;
	line-height: inherit;
	text-align: center;
	font-size: 20px;
	width: 100%;
	position: relative;

	.eltd-sai-first-line,
	.eltd-sai-second-line,
	.eltd-sai-third-line {
		position: absolute;
		top: -4px;
		left: 0;

		height: 0;
		border-bottom: 2px solid;

		@include eltdTransition(all 0.2s ease-in-out);
	}

	.eltd-sai-second-line,
	.eltd-sai-first-line,
	.eltd-sai-third-line {
		width: 19px;
	}

	.eltd-sai-first-line {
		@include eltdTransform(translateY(-5px));
	}

	.eltd-sai-third-line {
		@include eltdTransform(translateY(5px));
	}
}

.eltd-side-menu-button-opener:hover {
	color: $first-main-color;
}

.eltd-side-menu-button-opener > i {
	display: inline-block;
	height: inherit;
	line-height: inherit;
	vertical-align: bottom;
	width: inherit;
	text-align: center;
	-webkit-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-moz-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-ms-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	-o-transition: opacity 0.15s ease-out, color 0.15s ease-out;
	transition: opacity 0.15s ease-out, color 0.15s ease-out;
}

.eltd-side-menu-button-opener:hover {
	color: $first-main-color;
}

.eltd-side-menu-button-opener span.social_icon {
	font-family: 'ElegantIcons' !important;
}

.eltd-side-menu-button-opener i.social_icon {
	font-family: 'FontAwesome', serif !important;

}

.eltd-side-menu {
	background-color: #fff;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 30px 50px;
	position: fixed;
	top: 0;
	right: -270px;
	width: 210px;
	z-index: 9999;
	-webkit-backface-visibility: hidden;

	h3 {
		margin: 0 0 30px;
		color: #000;
		font-weight: 300;
		letter-spacing: 0;
	}

	h5,
	h6 {
		margin: 0 0 12px 0;
		color: #fff;
	}

	.widget {
		margin: 0 0 45px;

		li {
			position: relative;
			list-style-type: none;
		}

		ul li.page_item_has_children,
		ul li.menu-item-has-children {
			padding-right: 0;
			border-bottom: none;
		}

		ul ul {
			padding: 6px 0 0 10px;
		}

	}

	a:not(.qbutton),
	li,
	span,
	p,
	.widget_rss li a.rsswidget {
		color: #808080;
		font-weight: 300;
		@include eltdTransition(color 0.15s ease-out);
	}

	a:hover {
		color: $first-main-color;
	}

	.widget_calendar {
		font-size: 14px;

		a {
			color: #fff;
		}

		caption,
		th,
		td {
			color: #9d9d9d;
			line-height: 31px;
			@include eltdTransition(color 0.15s ease-out);
		}

		thead tr,
		tbody tr,
		tbody td {
			border-color: #9d9d9d;
		}

	}

	.eltd-side-menu-title {
		display: block;
		margin: 0 0 12px;
	}

	.widget_nav_menu {

		li:last-child,
		li a {
			margin: 0;
		}

	}

	.eltd-close-side-menu-holder {
		display: table;
		height: 74px;
		position: absolute;
		top: 0px;
		right: 38px;
		z-index: 1000;
	}

	.eltd-close-side-menu-holder-inner {
		display: table-cell;
		vertical-align: middle;
	}

	a.eltd-close-side-menu {
		display: inline-block;
		height: 18px;
		width: 26px;
		padding: 0 2px 4px 0; /* in order to align icon in horizontal and vertical center */
		z-index: 1000;
		@include eltdTransition(transform .5s ease);

		span {
			color: #363636;
			display: inline-block;
			font-size: 21px;
			height: 20px;
			line-height: 20px;
			position: relative;
			text-align: center;
			width: 26px;
		}

	}

	a.eltd-close-side-menu:hover {
		@include eltdTransform(rotate(180deg));
	}

	.widget .searchform	{

		position:relative;

		input[type=text] {
			border-right: 0;
			float: left;

			&:focus{

			}

		}

		input[type=submit] {
			border: none;
			outline: 0;
			font-family: 'ElegantIcons';
			width: 60px;
			height: 48px;
			cursor: pointer;
			color: #909090;
			background-color: #fff;
			font-size: 13px;
			position: absolute;
			top:1px;
			right: 1px;
			border:0 solid #fff;

			@include eltdBorderRadius(0);

			&:hover {
				color:#777;
			}
		}

	}

	.widget.widget_archive select,
	.widget.widget_categories select,
	.widget .searchform input[type=text],
	.widget.widget_text select {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
		padding: 0 21px;
		height: 50px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		border: 1px solid #e5e5e5;

		@include eltdBoxSizing(border-box);
	}

	.eltd-sidearea.widget_tag_cloud .tagcloud a {
		font-size: 12px !important;
		display: inline-block;
		font-family: $headings-font-family;
		text-transform: capitalize;
		font-weight: 700;
		color: #363636;
		padding: 0 28px;
		margin-right: 1px;
		margin-bottom: 3px;
		border: 1px solid #e1e1e1;
		background-color: #fff;

		@include eltdTransition(background-color .15s ease-out, border .15s ease-out, color .15s ease-out);

		&:hover {
			background-color: $first-main-color;
			border: 1px solid $first-main-color;
			color: #fff;
		}
	}

}

.admin-bar .eltd-side-menu .eltd-close-side-menu-holder {
	top: 21px;
}

/* Side area general style - end
========================================================================== */

/* Side area slides over content style - start
========================================================================== */

.eltd-right-side-menu-opened {

	.eltd-wrapper,
	footer.uncover,
	.eltd-fixed-wrapper.fixed,
	.eltd-sticky-header,
	.mobile-header-appear .eltd-mobile-header-inner {
		left: -270px;
	}

}

.eltd-side-menu-slide-from-right {

	.eltd-side-menu {
		.widget_search input[type=text]::-webkit-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		.widget_search input[type=text]:-moz-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		.widget_search input[type=text]::-moz-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		.widget_search input[type=text]:-ms-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}

		.widget_search input[type=text]:-ms-input-placeholder {
			color: #808285;
			font-size: 13px;
			font-weight: 400;
			font-style: italic;
		}
	}

	.eltd-wrapper {
		background-color: #fff;
		position: relative;
		z-index: 1000;
		@include eltdTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));

		.eltd-cover {
			z-index: 0;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			filter: alpha(opacity=0);
			background: #000;
			-webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
		}

	}

	.carousel-inner {
		@include eltdTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));
	}

	.eltd-side-menu {
		padding: 3% 50px 30px 50px;
		top: 0;
		right: -400px;
		width: 400px;
		z-index: 9999;
		text-align: center;
		visibility: hidden;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		@include eltdTransition(0.2s ease-in-out);

		.widget.widget_archive select,
		.widget.widget_categories select,
		.widget .searchform input[type=text],
		.widget.widget_text select {
			width: 100%;
			overflow: hidden;
			background-color: #fff;
			padding: 0 21px;
			height: 50px;
			outline: none;
			color: #7f8385;
			font-family: inherit;
			border: 1px solid #d7d7d7;
			float: left;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@include eltdTransition(0.2s border);
			@include eltdBoxSizing(border-box);

		}

		.widget .searchform input[type=text] {

			&:focus {
				border: 1px solid #999;
			}
		}

		.widget .searchform input[type=submit] {
			border: none;
			outline: 0;
			font-family: 'ElegantIcons';
			width: 60px;
			height: 48px;
			cursor: pointer;
			color: #909090;
			background-color: #fff;
			font-size: 13px;
			border: 0 solid #d7d7d7;
			border-left: 0;
			position: absolute;
			top:1px;
			right: 1px;

			@include eltdBorderRadius(0);

			&:hover {
				color:#777;
			}
		}

	}

	//	header.sticky,
	//	header.fixed_top_header .top_header
	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed {
		-webkit-transition: left 0.2s cubic-bezier(.645, .045, .355, 1.000), -webkit-transform 0.33s ease;
		transition: left 0.2s cubic-bezier(.645, .045, .355, 1.000), transform 0.33s ease;
	}

	footer.uncover {
		@include eltdTransition(left 0.2s cubic-bezier(.645, .045, .355, 1.000));
	}

}

.eltd-side-menu-slide-from-right.eltd-right-side-menu-opened {

	.eltd-cover {
		cursor: url('img/close.png'), pointer;
		z-index: 1002;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.eltd-side-menu {
		right: 0px;
		visibility: visible;
	}

}

/* Side area slides over content style - end
========================================================================== */

/* Side area slides with content style - start
========================================================================== */

.eltd-side-menu-slide-with-content {
	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-overflow-scrolling: auto !important;
	-webkit-transition: left 0.2s ease, right 0.2s ease;
	-moz-transition: left 0.2s ease, right 0.2s ease;
	-o-transition: left 0.2s ease, right 0.2s ease;
	transition: left 0.2s ease, right 0.2s ease;

	.eltd-side-menu {
		position: fixed;
		visibility: visible;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 470px;
		right: -470px;
		height: 100%;
		top: 0;
		z-index: 9999;
		-webkit-transition: left 0.2s ease, right 0.2s ease;
		-moz-transition: left 0.2s ease, right 0.2s ease;
		-o-transition: left 0.2s ease, right 0.2s ease;
		transition: left 0.2s ease, right 0.2s ease;
	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	footer.uncover,
	.eltd-wrapper {
		-webkit-transition: left 0.2s ease, right 0.2s ease;
		-moz-transition: left 0.2s ease, right 0.2s ease;
		-o-transition: left 0.2s ease, right 0.2s ease;
		transition: left 0.2s ease, right 0.2s ease;
	}

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed,
	.eltd-mobile-header-inner {
		-webkit-transition: left 0.2s ease, right 0.2s ease, -webkit-transform 0.33s ease;
		transition: left 0.2s ease, right 0.2s ease, transform 0.33s ease;
	}

	.carousel-inner {
		left: 0 !important;
		@include eltdTransition(left 0.2s ease);
	}

}

.eltd-side-menu-slide-with-content.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -470px;
	}

	.eltd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -470px !important;
	}

	//	header.fixed,
	//	header.fixed_top_header .top_header,
	//	header.fixed_hiding,
	//	header.sticky {
	//		left: -470px;
	//	}

}

/* width 270px start */
.eltd-side-menu-slide-with-content.eltd-width-270.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -270px;
	}

	.eltd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -270px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -270px;
	//	}

}

.eltd-side-menu-slide-with-content.eltd-width-270 {

	.eltd-side-menu {
		width: 270px;
		right: -270px;
	}

}

/* width 270px end */

/* width 370px start */
.eltd-side-menu-slide-with-content.eltd-width-370.eltd-side-menu-open {

	.eltd-wrapper,
	footer.uncover,
	.eltd-sticky-header,
	.eltd-fixed-wrapper,
	.eltd-mobile-header-inner {
		left: -370px;
	}

	.eltd-side-menu {
		right: 0;
	}

	.carousel-inner:not(.relative_position) {
		left: -370px !important;
	}

	//	header.fixed,
	//	header.fixed_hiding,
	//	header.sticky,
	//	header.fixed_top_header .top_header{
	//		left: -370px;
	//	}

}

.eltd-side-menu-slide-with-content.eltd-width-370 {

	.eltd-side-menu {
		width: 370px;
		right: -370px;
	}
}

/* width 370px end */

/* Side area slides with content style - end
========================================================================== */

/* Side area uncovering - start
========================================================================== */

.eltd-side-area-uncovered-from-content {

	.eltd-side-menu {
		background-color: #1b1b1b;
		height: 100%;
		min-height: 100%;
		overflow: hidden;
		padding: 30px;
		position: fixed;
		top: 0;
		right: 0;
		width: 210px;
		z-index: 90;
		visibility: hidden;
	}

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed {
		-webkit-transition: left 0.3s ease, right 0.2s ease;
		-moz-transition: left 0.3s ease, right 0.2s ease;
		-o-transition: left 0.3s ease, right 0.2s ease;
		transition: left 0.3s ease, right 0.2s ease;
	}

}

.eltd-side-area-uncovered-from-content.eltd-right-side-menu-opened {

	.eltd-sticky-header,
	.eltd-fixed-wrapper.fixed,
	.eltd-mobile-header-inner {
		left: -270px;
	}

}

/* Side area uncovering - end
========================================================================== */

/* ==========================================================================
# Side area style - end
========================================================================== */