/* ==========================================================================
# Title area style - start
========================================================================== */

@include keyframes(title-animation-from-right) {
	0% {
		opacity: 0;
		transform: translate(50%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@include keyframes(title-animation-from-left) {
	0% {
		opacity: 0;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.eltd-title {
	display: block;
	width: 100%;
	height: 97px;
	text-align: left;
	position: relative;
	z-index: 101;
	background-color: #fbfbfc;
	background-position: center 0;
	background-repeat: no-repeat;

	&.eltd-has-parallax-background {
		background-attachment: fixed;
		background-repeat: no-repeat;
		position: relative;
		z-index: 101;
	}

	&.eltd-content-center-alignment {
		text-align: center;

		.eltd-subtitle {
			margin: 0 auto;
		}

		.eltd-title-holder h1 {
			padding-left: 0.3em; // to preserve central alignment despite letter spacing
		}
	}

	&.eltd-content-right-alignment {
		text-align: right;
	}

	&.eltd-animation-right-left {
		h1, .eltd-subtitle span, .eltd-breadcrumbs-holder {
			@include animation(title-animation-from-right, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}
	}

	&.eltd-animation-left-right {
		h1, .eltd-subtitle span, .eltd-breadcrumbs-holder {
			@include animation(title-animation-from-left, 0.5s, 1, cubic-bezier(0.175, 0.885, 0.320, 1.275), 1s);
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}
	}

	&.eltd-has-responsive-background {
		height: auto !important;

		.eltd-title-holder {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}

		.eltd-title-holder .eltd-container {
			display: block;
			height: 100%;
		}

		.eltd-title-holder .eltd-container-inner {
			display: table;
			height: 100%;
		}

		.eltd-title-holder .eltd-title-subtitle-holder {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}

	}

	.eltd-title-image {
		img {
			display: block;
			position: relative;
			width: 100%;
		}
	}

	&.eltd-title-image-not-responsive {

		.eltd-title-image {
			display: none;
		}

	}

	.eltd-title-holder {
		display: table;
		height: 100%;
		position: relative;
		width: 100%;

		.eltd-container {
			background-color: transparent;
			display: table-row;
			vertical-align: middle;
		}

		.eltd-container-inner {
			display: table-cell;
			padding: 0 !important;
			vertical-align: middle;
		}

		.eltd-title-subtitle-holder {
			display: block;
			padding: 0;
			position: relative;
			z-index: 25;

			.eltd-title-icon {
				position: relative;
				color: $first-main-color;
				font-size: 18px;
			}

			.eltd-title-icon:after {
				content: '';
				height: 1px;
				width: 87px;
				border-top: 1px solid #acacac;
				position: absolute;
				top: 50%;
				left: 25px;

				@include eltdTransform(translateY(-50%));
			}

			.eltd-title-icon:before {
				content: '';
				height: 1px;
				width: 87px;
				border-top: 1px solid #acacac;
				position: absolute;
				top: 50%;
				right: 25px;

				@include eltdTransform(translateY(-50%));
			}

			.eltd-title-separator-with-icon {
				margin-bottom: 12px;
			}

		}

		.eltd-title-subtitle-holder-inner {
			position: relative; //because of the breadcrumbs (absolute position) on standard type title
		}

		/* #Standard title - start
		========================================================================== */

		h1 {
			color: #414042;
			display: inline-block;
			line-height: 1em;
			vertical-align: middle;
			font-family: $headings-font-family;
			text-transform: uppercase;
			font-size: 48px;
			margin: 0;
			font-weight: 300;
			letter-spacing: 0.3em;
		}

		h1 span {
			display: inline-block;
		}

		.eltd-subtitle {
			display: block;
			font-size: $default-text-size;
			line-height: 1.666666666666667em;
			font-weight: 400;

			width: 60%;

			span {
				display: inline-block;
				vertical-align: middle;
			}
		}

		/* #Standard title - end
		========================================================================== */

		/* #Breadcrumb title - start
		========================================================================== */

		.eltd-breadcrumbs-holder {
			display: inline-block;
			vertical-align: middle;
		}

		.eltd-breadcrumbs a, .eltd-breadcrumbs span {
			color: #808285;
			font-size: 12px;
			font-weight: 400;
			line-height: 1.5em;
			display: inline-block;
			vertical-align: middle;
			font-style: italic;
			font-family: $headings-font-family-2;
		}
		/* #Breadcrumb title - end
		========================================================================== */

	}

	&.eltd-standard-type {
		.eltd-breadcrumbs-holder {
			position: absolute;
			top: 0;
			height: 100%;

			.eltd-breadcrumbs {
				display: table;
				height: 100%;
				width: 100%;
			}

			.eltd-breadcrumbs-inner {
				display: table-cell;
				vertical-align: middle;
			}

		}
	}

	&.eltd-standard-type.eltd-content-left-alignment {
		.eltd-breadcrumbs-holder {
			right: 0;
		}
	}

	&.eltd-standard-type.eltd-content-right-alignment {
		.eltd-breadcrumbs-holder {
			left: 0;
		}
	}

	&.eltd-standard-type.eltd-content-center-alignment {
		.eltd-breadcrumbs-holder {
			position: relative;
			top: auto;
			height: auto;
			display: block;
			margin: 14px;
		}
	}

	&.eltd-breadcrumb-type {

		.eltd-breadcrumbs-inner {
			text-transform: uppercase;

			a, span {
				font-style: normal;
				font-size: 30px;
				color: #414042;
				font-weight: 300;
				font-family: $default-font-family;
			}
		}
	}
}

.eltd-title.eltd-standard-type.eltd-has-background.eltd-content-center-alignment .eltd-title-holder .eltd-title-subtitle-holder {
	margin-top: 47px;
}

.eltd-large-title-text {
	.eltd-title .eltd-title-holder h1 {
		font-size: 72px;
		letter-spacing: 0.09em;
	}

	.eltd-title .eltd-subtitle {
		font-size: 18px;
	}

	&.eltd-title-with-subtitle {
		.eltd-title .eltd-title-holder h1 {
			margin-bottom: 28px;
		}
	}
}

.eltd-medium-title-text {
	.eltd-title .eltd-title-holder h1 {
		font-size: 30px;
		letter-spacing: 0.09em;
	}

	&.eltd-title-with-subtitle {
		.eltd-title .eltd-title-holder h1 {
			margin-bottom: 19px;
		}
	}
}

/* ==========================================================================
# Title area style - end
========================================================================== */