.eltd-main-menu {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 100%;

	&.eltd-sticky-nav:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		height: 32px;
		width: 1px;
		background-color: #d4d4d3;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	ul {
		list-style: none outside none;
		margin: 0px;
		text-align: left;

		li {

			position: relative;
			display: inline-block;
			float: left;
			padding: 0px;
			margin: 0px;
			background-repeat: no-repeat;
			background-position: right;

			a {
				font-size: 12px;
				font-family: $headings-font-family;

				&.no_link {
					cursor: default;
				}
			}

			&:hover a, &.eltd-active-item a {
				color: $first-main-color;
			}
		}

		.eltd-menu-item-description {
			display: block;
			text-transform: none;
			font-size: 10px;
			color: #b6b6b6;
			font-weight: 400;
			line-height: 1.7em;
		}

		.eltd-menu-featured-icon {
			position: relative;
			display: inline-block !important;
			top: -3px;
			margin-left: 5px;
			color: $first-main-color;
			font-size: 10px;
		}
	}

	> ul {

		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 100%;

		> li {

			height: 100%;

			&:last-child > a span.plus {
				display: none;

			}

			body:not(.eltd-menu-item-first-level-bg-color) &:hover > a,
			&.eltd-active-item > a {
				color: $first-main-color;
			}

			&.has_sub {
				> a i.eltd_menu_arrow {
					display: inline-block;
					margin-left: 6px;
				}

				> a .item_inner > i.eltd_menu_arrow {
					position: relative;
					left: 4px;
				}
			}

			&.eltd-menu-item-with-description {
				text-align: center;
			}

			> a {
				position: relative;
				display: inline-block;
				height: 100%;
				padding: 0;
				vertical-align: middle;

				color: #444;
				text-transform: uppercase;
				background-color: transparent;
				font-weight: 700;

				@include eltdTransition(color 0.2s ease-out);

				&:before {
					height: 2px;
					bottom: 0px;
				}

				&:after {
					height: 1px;
					bottom: 4px;
				}

				> span.item_outer {
					display: block;
					position: relative;
					top: 50%;
					-wwbkit-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				span.item_inner {
					display: inline-block;
					padding: 0 18px;
					border-width: 0px;
					position: relative;
					border-color: transparent;
					background-color: transparent;
					-webkit-transition: text-decoration 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
					transition: text-decoration 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
				}

				span.item_inner:before,
				span.item_inner:after,
				&:before,
				&:after {
					content: "";
					display: none;
					position: absolute;
					left: 0px;
					background-color: transparent;
					-webkit-transition: background-color 0.15s ease-out;
					transition: background-color 0.15s ease-out;
					width: 100%;

				}

				span.item_inner:before {
					bottom: 0px;
					height: 2px;
				}

				span.item_inner:after {
					height: 1px;
					bottom: 4px;
				}

				span.plus {
					width: 4px;
					height: 4px;
					display: none;
					position: absolute;
					top: 50%;
					right: -2px;
					margin-top: -2px;
					z-index: 1;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}

				> i.blank {
					display: none;
				}
			}
		}
	}

	&.eltd-drop-down.eltd-default-nav {
		padding-right: 12px;
	}

}

.eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-main-menu > ul > li,
.eltd-light-header.eltd-header-style-on-scroll .eltd-page-header .eltd-main-menu > ul > li {

	> a {
		color: $header-light-color;
	}

}

.eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-main-menu > ul > li,
.eltd-dark-header.eltd-header-style-on-scroll .eltd-page-header .eltd-main-menu > ul > li {

	> a {
		color: $header-dark-color;
	}

}

/* Narrow drop down styles
   ========================================================================== */
.eltd-drop-down ul {
	list-style: none;
}

.eltd-drop-down ul li {
	position: relative;
}

header.transparent.fixed.scrolled .eltd-drop-down .second,
header.transparent.fixed_hiding.scrolled .eltd-drop-down .second {
	top: 100%;
}

.eltd-drop-down .second {
	left: 0;
	margin: 0;
	top: 100%;
	position: absolute;
	display: block;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	z-index: 10;

	@include eltdTransition(top 0.15s ease-out);
}

header.transparent:not(.sticky) .eltd-drop-down .second {
	top: 75%;
}

header.transparent.with_border:not(.sticky) .eltd-drop-down .second,
header.transparent.eltd-menu-item-first-level-bg-color:not(.sticky) .eltd-drop-down .second {
	top: 100%;
}

.eltd-drop-down li.left_position .second {
	left: 0px;
}

header.transparent.eltd-menu-item-first-level-bg-color .eltd-drop-down .second:not(.right) {
	left: 0;
}

.eltd-drop-down li.right_position .second {
	left: auto;
	right: 0;
}

.eltd-drop-down .second.eltd-drop-down-start {
	visibility: visible;
	overflow: visible;
	opacity: 1;
	transition: opacity 0.2s ease-out;
	-webkit-transition: opacity 0.2s ease-out;
}

.eltd-drop-down > ul > li:hover > .second {
	z-index: 20;
}

.eltd-drop-down .second .inner {
	position: relative;
	padding: 0px;
	display: block;
	z-index: 997;
}

.eltd-drop-down .narrow .second i {
	display: inline-block;
	vertical-align: middle;
	color: inherit;
}

.eltd-drop-down .second .inner > ul,
li.narrow .second .inner ul {
	display: inline-block;
	position: relative;
	background-color: #363636;
}

li.narrow .second .inner ul {
	padding: 15px 0px 18px 0;
}

.eltd-drop-down .second .inner ul li {
	display: block;
	padding: 0 15px;
	position: relative;
	float: none;
	height: auto;
	background: 0;
	width: 190px;
	transition: background-color .15s ease-out;

	@include eltdTransition(background-color 0.15s ease-out);
}

li.narrow .second .inner ul li:last-child {
	border-bottom: none;
}

.eltd-drop-down .wide.left_position .second ul li,
.eltd-drop-down .wide.right_position .second ul li {
	width: 180px;
}

.eltd-drop-down .narrow .second .inner ul li {
	padding: 0 33px;
	width: 200px;

	@include eltdBoxSizing(border-box);
	@include eltdTransition(background-color 0.2s ease-in-out);
}

.eltd-drop-down .second .inner ul li a {
	display: block;
	color: #939598;
	height: auto;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 0;
	position: relative;

	@include eltdTransition(color 0.2s ease-out);
}

.eltd-drop-down .second .inner > ul > li:last-child > a,
.eltd-drop-down .second .inner > ul > li > ul > li:last-child > a,
.eltd-drop-down .second .inner > ul > li > ul > li > ul > li:last-child > a {
	border-bottom: 0;
}

.eltd-drop-down .wide .second ul li a,
.eltd-drop-down .wide .second .inner ul li.sub a {
	background: 0;
}

.eltd-drop-down .wide .second i {
	display: none;
}

.eltd-drop-down .narrow .second .inner ul li ul {
	position: absolute;
	left: 100%;
	top: -4px; /* same as padding in father ul */
	height: auto;
	opacity: 0;
	transition: opacity 0.4s;
	transition: opacity 0.4s;
	overflow: hidden;
	z-index: 10;
	-webkit-transform: translateZ(0);
}

.eltd-drop-down .second .inner ul li:hover ul {
	z-index: 20;
	opacity: 1;
}

.eltd-drop-down .second .inner ul li ul li:hover ul {
	z-index: 20;
	opacity: 1 !important;
	display: block !important;
	visibility: visible !important;
}

.eltd-drop-down .menu_icon_wrapper {
	margin-right: 10px;
	font-size: 16px;
	color: #fff;
}

/* slide_from_bottom start */

body.eltd-dropdown-slide-from-bottom .eltd-drop-down .second {
	-webkit-transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.25s;
	transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.25s;
}

body.eltd-dropdown-slide-from-bottom .eltd-drop-down .wide .second .inner > ul,
body.eltd-dropdown-slide-from-bottom .eltd-drop-down .narrow .second .inner > ul {
	visibility: hidden;
	top: 30px;
	opacity: 0;
	-webkit-transition: all .25s cubic-bezier(0, 0.57, 0.58, 1);
	transition: all .25s cubic-bezier(0, 0.57, 0.58, 1);
}

body.eltd-dropdown-slide-from-bottom .eltd-drop-down .narrow .second .inner ul li ul {
	opacity: 0;
	visibility: hidden;
	top: 22px;
	-webkit-transition: all .25s cubic-bezier(0, 0.57, 0.58, 1);
	transition: all .25s cubic-bezier(0, 0.57, 0.58, 1);
}

body.eltd-dropdown-slide-from-bottom .eltd-drop-down .wide .second.eltd-drop-down-start .inner > ul,
body.eltd-dropdown-slide-from-bottom .eltd-drop-down .narrow .second.eltd-drop-down-start .inner > ul {
	top: 0;
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

body.eltd-dropdown-slide-from-bottom .eltd-drop-down .narrow .second .inner ul li:hover ul {
	opacity: 1;
	visibility: visible;
	top: -15px;
}

/* slide_from_bottom end */

/* slide_from_top start */

body.eltd-dropdown-slide-from-top .eltd-drop-down .second {
	overflow: visible;
	-webkit-transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
	transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
}

body.eltd-dropdown-slide-from-top .eltd-drop-down .wide .second .inner > ul,
body.eltd-dropdown-slide-from-top .eltd-drop-down .narrow .second .inner > ul {
	top: -30px;
	-webkit-transition: all 0.3s cubic-bezier(.39, .575, .565, 1);
	transition: all 0.3s cubic-bezier(.39, .575, .565, 1);
}

body.eltd-dropdown-slide-from-top .eltd-drop-down .narrow .second .inner ul li ul {
	top: -22px;
	-webkit-transition: all 0.3s cubic-bezier(.39, .575, .565, 1);
	transition: all 0.3s cubic-bezier(.39, .575, .565, 1);
}

body.eltd-dropdown-slide-from-top .eltd-drop-down .wide .second.eltd-drop-down-start .inner > ul,
body.eltd-dropdown-slide-from-top .eltd-drop-down .narrow .second.eltd-drop-down-start .inner > ul {
	top: 0;
}

body.eltd-dropdown-slide-from-top .eltd-drop-down .narrow .second .inner ul li:hover ul {
	top: -1px; /* same as padding in father ul */
}

/* slide_from_top end */

/* slide_from_left start */

body.eltd-dropdown-slide-from-left .eltd-drop-down .second {
	overflow: visible;
	-webkit-transition: top 0.2s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.4s;
	transition: top 0.2s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.4s;
}

body.eltd-dropdown-slide-from-left .eltd-drop-down .wide .second .inner > ul,
body.eltd-dropdown-slide-from-left .eltd-drop-down .narrow .second .inner > ul {
	left: -30px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

body.eltd-dropdown-slide-from-left .eltd-drop-down .narrow .second .inner ul li ul {
	left: calc(100% - 30px);
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

body.eltd-dropdown-slide-from-left .eltd-drop-down .wide .second.eltd-drop-down-start .inner > ul,
body.eltd-dropdown-slide-from-left .eltd-drop-down .narrow .second.eltd-drop-down-start .inner > ul {
	left: 0;
}

body.eltd-dropdown-slide-from-left.eltd-drop-down .narrow .second .inner ul li:hover ul {
	left: 100%;
}

/* slide_from_left end */

.eltd-drop-down .second.right {
	right: 0px;
	left: auto;
}

.eltd-drop-down .second .inner ul.right li a {
	text-align: right;
}

.eltd-drop-down .second .inner ul.right li ul {
	left: -100%;
}

.eltd-drop-down .second .inner ul li.sub ul li a,
.eltd-drop-down .second .inner ul.right li.sub ul li a {
	background: none;
}

.eltd-drop-down .second .inner ul li.sub ul li:hover > a,
.eltd-drop-down .second .inner > ul > li:hover > a {
	color: #fff;
}

.eltd-drop-down .second .inner .widget {
	padding: 0px 28px;
}

.eltd-drop-down .second .inner .widget.widget_eltd_latest_posts_menu_widget {
	padding: 0px 20px;
}

/* Wide drop down styles
   ========================================================================== */
.eltd-drop-down .wide .second ul {
	vertical-align: middle;
}

.eltd-drop-down .wide .second.eltd-dropdown-with-background-image ul {
	background-color: transparent;
}

.eltd-drop-down .wide .second ul li {
	float: left;
	width: 274px;
	padding: 0px;
	border-bottom: 0;
	width: 100%;

	@include eltdBoxSizing(border-box);

	a {
		padding: 4px 33px;
	}
}

.eltd-drop-down .wide .second > .inner > ul {
	width: 1100px;
}

@media only screen and (min-width: 1400px) {
	.eltd-grid-1300 .eltd-drop-down .wide .second > .inner > ul {
		width: $grid-width-1300;
	}
}

@media only screen and (min-width: 1300px) {
	.eltd-grid-1200 .eltd-drop-down .wide .second > .inner > ul {
		width: $grid-width-1200;
	}
}

.eltd-grid-1000 .eltd-drop-down .wide .second > .inner > ul {
	width: $grid-width-1000;
}

.eltd-grid-800 .eltd-drop-down .wide .second > .inner > ul {
	width: $grid-width-800;
}

.eltd-drop-down .wide .second > .inner > ul > li {
	width: 25%;
	border-right: 1px solid #464646;

	&:last-child {
		border-right: 0;
	}
}

.eltd-drop-down .wide .second ul li:last-child {
	margin-right: 0;
}

.eltd-drop-down .wide .second > .inner > ul > li ul li:last-child {
	padding-bottom: 28px;
}

.eltd-drop-down .wide.right_position .second ul li {
	float: right;
}

.eltd-drop-down .wide .second ul li:hover {
	background-color: transparent;
}

.eltd-drop-down .wide .second ul li:nth-child(4n+1) {
	clear: both;
}

.eltd-drop-down .second .inner ul li.sub a i.eltd_menu_arrow {
	position: absolute;
	top: 50%;
	right: 0px;
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	font-size: inherit;
	margin: -6px 0 0;
}

.eltd-drop-down .second .inner ul li.sub ul li a i.eltd_menu_arrow,
.eltd-drop-down .wide .second .inner ul li.sub a i.eltd_menu_arrow {
	display: none;
}

.eltd-drop-down .second .inner ul.right li.sub a i.eltd_menu_arrow {
	right: auto;
	left: 0px;
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.eltd-drop-down .wide .second .inner > ul > li > a {
	color: #ebebeb;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.7em;
	font-family: $headings-font-family;
	padding-top: 32px;

	.eltd-menu-item-description {
		margin-top: 2px;
	}
}

.eltd-drop-down .wide .second .inner > ul > li > a:hover {
	color: #fff;
}

.eltd-drop-down .wide .second ul li ul {
	display: block;
	left: 0;
	padding: 7px 0 0;
	position: relative;
	top: 0;
	visibility: visible;
	background-color: transparent !important;

	@include eltdClearfix;
}

.eltd-drop-down .wide .second ul li ul .widget {
	padding: 0px 18px;
}

.eltd-drop-down .wide .second ul li ul li {
	padding: 0;
	margin: 0;
	border: 0;
}

.eltd-drop-down .wide .second ul li ul li.menu-item-has-children > a,
.eltd-drop-down .wide .second ul li ul li.menu-item-has-children > a:hover {
	border-bottom: 0 none;
	color: #393939;
}

/* Wide drop down with full width background styles
   ========================================================================== */
.eltd-full-width-wide-menu {
	.eltd-drop-down .wide .second {
		background-color: #fff;

		.inner ul {
			background-color: transparent !important;
		}
	}

	.wide .second .inner {
		text-align: center;
	}

	.second .inner ul {
		text-align: left;
	}
}

/* Wide with icons drop down styles
   ========================================================================== */
.eltd-drop-down .wide.icons .second ul li a span {
	position: relative;
	display: block;
}

.eltd-drop-down .wide.icons .second ul li.eltd-menu-item-with-icon > a .item_text {
	padding-left: 24px;

	@include eltdTransition(color 0.2s ease-out);

	&:hover {
		color: #fff;
	}
}

.eltd-drop-down .wide.icons .second i {
	width: 24px;
	height: auto;
	float: left;
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	line-height: inherit;
}

.eltd-drop-down .wide.icons .second i.blank {
	background: none;
	border: 0px;
	display: none;
}

/* Begining of menu latest post widget styles
========================================================================== */

.eltd-drop-down .wide .second ul li div.flexslider li:nth-child(4n+1) {
	clear: none;
}

.eltd-drop-down .wide .second ul li .flexslider ul {
	padding: 0;
	border: none;
}

.eltd-drop-down .wide .second .inner ul li.sub .flexslider ul li a:hover,
.eltd-drop-down .wide .second ul li .flexslider ul li a:hover {
	color: $first-main-color;
}

.eltd-drop-down .wide .second .inner ul li .flexslider.widget_flexslider .menu_recent_post_text a,
.eltd-drop-down .wide .second .inner ul li .flexslider.widget_flexslider a {
	display: inline-block;
	margin: 0;
}

.eltd-drop-down .wide .second .inner ul li .flexslider.widget_flexslider > a {
	vertical-align: middle;
}

.eltd-drop-down .wide .second ul li ul.flex-direction-nav a {
	position: absolute;
	top: 0;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: none;
	margin: 0px 0 0 0;
}

.eltd-drop-down .wide .second ul li ul.flex-direction-nav {
	position: absolute;
	top: 50%;
	overflow: visible;
	width: 100%;
}

.eltd-drop-down .wide .second ul li div.flexslider {
	margin: 0 !important;
}

.eltd-drop-down .wide .second ul li .flexslider.widget_flexslider ul.flex-direction-nav li {
	width: 100%;
}

.flexslider.widget_flexslider ul.flex-direction-nav a.flex-prev,
.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider ul.flex-direction-nav a.flex-prev {
	left: 0;
	height: 15px;
	width: 15px;
	line-height: 15px;
	padding: 0;
}

.flexslider.widget_flexslider ul.flex-direction-nav a.flex-next,
.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider ul.flex-direction-nav a.flex-next {
	right: 0;
	height: 15px;
	width: 15px;
	line-height: 15px;
	padding: 0;
}

.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text {
	padding: 10px 0;
}

.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text a {
	display: inline;
	padding: 0;
	color: #000;
}

.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text a:hover {
	color: $first-main-color;
}

.eltd-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider a, .eltd-drop-down .wide .second ul li .flexslider.widget_flexslider a {
	padding: 0;
	text-align: center;
}

/* ==========================================================================
   End of menu latest post widget styles
   ========================================================================== */