.eltd-blog-holder {
	&.eltd-blog-type-masonry {
		margin-bottom: 20px;
		transition: none !important;
		overflow: visible !important;

		.eltd-author-desc {
			padding-top: 20px;
			border-top: 1px solid #f2f2f2;
		}

		h2.eltd-post-title {
			margin-bottom: 23px;
		}

		.eltd-post-excerpt {
			padding-bottom: 20px;
		}

		.eltd-post-content .eltd-post-info-date {
			border-right: 0;
			margin-right: 0;
		}

		.format-quote {

			.eltd-post-content {
				background-color: $first-main-color;
				padding: 10px 25px 15px 30px;
				position: relative;

				h5.eltd-author-name {
					color: #fff;
				}

				.eltd-post-title a:hover {
					color: #fff;
				}

				.eltd-post-info-date {
					color: #fff;
					border-right: 0 !important;
				}
			}

			.eltd-post-mark {
				position: absolute;
				top: -15px;
				right: -12px;
				font-size: 48px;
				color: #fff;
			}

			.eltd-post-title span.quote_author {
				color: #fff;
			}

			.eltd-post-title {
				padding-bottom: 28px;
				margin-bottom: 0 !important;

				h3 {
					margin-top: 0 !important;
					margin-bottom: 13px;
				}
			}

		}

		.format-link {

			.eltd-post-content {
				background-color: $first-main-color;
				padding: 10px 20px 15px 30px;
				position: relative;

				h5.eltd-author-name {
					color: #fff;
				}

				.eltd-post-title a:hover {
					color: #fff;
				}

				.eltd-post-info-date {
					color: #fff;
					border-right: 0 !important;
				}
			}

			.eltd-post-mark {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 60px;
				color: #fff;
			}

			h3.eltd-post-title {
				margin-bottom: 10px;
				padding-bottom: 20px;
				margin-top: 11px;
			}

		}

		article {
			display: block;
			width: 32%;
			padding: 0;
			text-align: left;
			vertical-align: top;
			z-index: 100;
			margin: 0 0 42px;
			box-sizing: border-box;
			@include eltdTransition(border-color 0.15s ease-out);

		}
		.eltd-blog-masonry-grid-sizer {
			width: 32%;
		}
		.eltd-blog-masonry-grid-gutter {
			width: 2%;
		}

		#infscr-loading {
			position: absolute;
			bottom: -35px;
			left: 50%;
			@include eltdTransform(translateY(-50%));
		}
	}
}
