.eltd-blog-holder.eltd-blog-type-split-column {
	article:not(.format-quote):not(.format-link) {
		.eltd-post-content {
			@include eltdTableLayout();
		}

		.eltd-post-image-wrapper,
		.eltd-post-text {
			display: table-cell;
			width: 50%;
			vertical-align: top;
		}

		.eltd-post-text-inner {
			padding-left: 45px;
		}

	}
}