.eltd-tab-content {
	.eltd-page-title {
		color:#8D9CA6;
		font-size: 15px;
		background-color:#F6F8F8;
		padding:5px 20px;
		margin: -20px -20px 30px -20px;
		border-bottom: 1px solid #dce0e6;
		font-weight:600;
	}

	.eltd-page-title.eltd-page-title-fixed {
		position:fixed;
		z-index: 8;
		margin-bottom: 0;
	}

	.eltd-page-form {
		position: relative;
	}

	.eltd-page-section-title {
		color: $eltd-first-color;
		background-color: #fff;
		padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 10px;
		margin: -10px 0px 0;
		border-bottom:1px solid #efefef;
		font-size: 15px;
		line-height: 1
	}

	.eltd-page-section-subtitle {
		color:#374a59;
		font-weight:400;
		display: inline-block;
		margin:15px 0 15px;
		font-size: 14px;
		position:relative;
		left:0px;
		padding:0px 20px;
		border-left:3px solid $eltd-first-color;
	}

	.eltd-page-form-section-holder {
		margin-bottom: 30px;
		padding: 0px 0px;
		background:#fff;
	}

	.eltd-page-form-section-holder h3 + .eltd-page-form-section {
		border-top:none;
	}
}