@media only screen and (max-width: map-get($breakpoints, ipad-landscape)) {
	.eltd-instagram-feed.eltd-col-9 li {
		width: 33.33%;
	}
}

@media only screen and (max-width: map-get($breakpoints, ipad-portrait)) {
	.eltd-instagram-feed.eltd-col-4 li {
		width: 50%;
	}

	.eltd-instagram-feed.eltd-col-6 li {
		width: 33.33%;
	}
}

@media only screen and (max-width: map-get($breakpoints, phone-portrait)) {
	.eltd-instagram-feed.eltd-col-4 li,
	.eltd-instagram-feed.eltd-col-3 li,
	.eltd-instagram-feed.eltd-col-6 li,
	.eltd-instagram-feed.eltd-col-9 li {
		width: 50%;
	}
}