/* ==========================================================================
   Instagram start styles
   ========================================================================== */
.eltd-instagram-feed {
	list-style: none;

	&:not(.without-space) {
		margin-left: -4px;
		margin-right: -4px;

		li {
			padding: 0 4px;
		}
	}

	li {
		float: left;
		margin-bottom: 8px;
		@include eltdBoxSizing(border-box);

		img, a {
			display: block !important;
			width: 100%;
		}

		.eltd-instagram-item-holder {
			position: relative;
		}
	}

	&.without-space li {
		margin-bottom: 0;
	}
}

aside.eltd-sidebar ul.eltd-instagram-feed li {
	border-bottom: 0;
}

.eltd-instagram-feed.eltd-col-9 li {
	width: 11.11111111111111%;
}

.eltd-instagram-feed.eltd-col-6 li {
	width: 16.66666666666667%;
}

.eltd-instagram-feed.eltd-col-4 li {
	width: 25%;
}

.eltd-instagram-feed.eltd-col-3 li {
	width: 33.33%;
}

.eltd-instagram-feed.eltd-col-2 li {
	width: 50%;
}

.eltd-instagram-feed .eltd-instagram-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include eltdTransition(opacity 0.45s);
	background-color: rgba(21, 21, 21, 0.3);
	color: #fff;
	text-align: center;
}

.eltd-instagram-feed li:hover .eltd-instagram-overlay {
	opacity: 1;
}

.eltd-instagram-overlay-inner {
	display: table;
	width: 100%;
	height: 100%;
}

.eltd-instagram-overlay-inner2 {
	display: table-cell;
	vertical-align: middle;
}

/* ==========================================================================
   Instagram end styles
   ========================================================================== */